[2019-04-18 23:52] pannal opened #6 "Exciting new project!"
Hey,

Can you explain the differences of this project compared to [the old one](https://github.com/VeNoMouS/cloudflare-scrape-js2py) apart from being not necessarily dependant on js2py?

Thank you

[2019-04-18 23:56] VeNoMouS commented on #6
* Multiple Interpreter Support (With more to possibly come... have written it in such a way its plug and play.)
** js2py
** nodejs

* Adding in Anticapcha support
* Core of the framework rewritten
* Better User-Agent support for CF headers
* Optimization
* Bunch of other stuff we felt was missing...

Project is still on going.

[2019-04-19 00:05] pro-src commented on #6
The code used to solve challenges is more robust too so there should be less breakage when CF updates by doing away with the fragile regular expressions found in similar projects. The new UA support addresses issues that people may encounter with CF's improved BIC which mostly has to do with headers. So many improvements over the other code bases out there.

[2019-04-19 00:08] pannal commented on #6
Is this planned or already implemented? I've been using the old project for a while now (and am very familiar with the source), and I can't find major differences yet.

[2019-04-19 00:09] pro-src commented on #6
Planned. @VeNoMouS is working on it, not committed yet

[2019-04-19 00:09] VeNoMouS commented on #6
I'm currently drinking coffee and writing it as we speak.

[2019-04-19 00:10] pannal commented on #6
Ah, great.

FYI: I've implemented a work in progress anticaptcha integration layer (currently supports AntiCaptcha and DeathByCaptcha) into Sub-Zero: https://github.com/pannal/Sub-Zero.bundle/blob/master/Contents/Libraries/Shared/subliminal_patch/pitcher.py

[2019-04-19 00:13] VeNoMouS commented on #6
Nice,

Yea the anticaptcha stuff will be plug and play like the js interpreters.. so you can simply just drop in another one on a PR etc... avoiding changes to the core.

[2019-04-19 00:16] pro-src commented on #6
If you're looking for insight into the headers, you can see the work that I've done on cloudscraper[*.js*](): https://github.com/pro-src/cloudscraper.js/tree/4.0.0

[2019-04-19 00:22] pannal commented on #6
Oh, you're dropping "br"! I've been playing around with the CF headers recently and found that "br" breaks the CF validation reproducably. Do you have any idea why that is?

When I "solve" a CF check with my real browser, which includes "br" in Accept-Encoding, it works flawlessly.

[2019-04-19 00:25] pro-src commented on #6
@pannal Completely different project that drop the PR from the default headers when there is no support for Brotli available but has complete support for it (native or user supplied). Let's not get off topic though :wink:

[2019-04-19 00:27] VeNoMouS commented on #6
brotli is easy to understand and implement ;P

[2019-04-19 00:29] pannal commented on #6
@pro-src yeah I get that. I was just wondering why once I "add" brotli support to Accept-Encoding for the CF headers, CF breaking instantly fails.

[2019-04-19 00:30] pro-src commented on #6
I haven't noticed that being the case for ***all*** domains and I wouldn't under estimate what the site owner can do with CF's extensive API.

[2019-04-19 00:31] pannal commented on #6
OK, I've only tested it with subscene.com. But one I add "br" to
[code]

[2019-04-19 00:32] VeNoMouS commented on #6
because you have to uncompress the content ...

[2019-04-19 00:34] pannal commented on #6
Makes sense. Now I'm feeling stupid.

[2019-04-19 00:34] pro-src commented on #6
@VeNoMouS said and I think I misunderstood you, for some reason I thought you were saying it only worked when adding the `br`.

[2019-04-19 00:36] pannal commented on #6
Btw, to stay off-topic: Is the order of the headers important for CF in any way, or is it just advisable to *keep* the order of the headers consistent?

[2019-04-19 00:39] VeNoMouS commented on #6
no its __REQUIRED__ for the correct order, CF will hit you with failed challenge responses or captcha's...

[2019-04-19 00:40] pro-src commented on #6
The order is important on a per UA basis, meaning the headers that are expected for one UA will not necessarily be the same for a similar (Changed OS, same browser vesion). The BIC is getting smarter.

[2019-04-19 00:41] VeNoMouS commented on #6
We have spent many hours investigating and mapping this stuff out ;P

[2019-04-19 00:41] pannal commented on #6
Oh wow. That's a hell of an assumption from CF's side, as HTTP headers aren't really required to be ordered in any way afaik.

Good to know.

[2019-04-19 00:42] VeNoMouS commented on #6
They have the meta data to analyze past metrics... remember all requests are just being proxies through CF...

[2019-04-19 00:44] pannal commented on #6
So the user agents from `DEFAULT_USER_AGENTS` are matched to work with the order of the headers you impose in `request`?

[2019-04-19 00:50] pro-src commented on #6
Everything is currently under development and that is not how it's going to work when released. There will not be any header imposing. If you override the headers (probably shouldn't), your mileage may vary.

[2019-04-19 00:52] pannal commented on #6
OK, I'm just trying to figure out whether to use your (small) default User-Agent list, or my large one. I'm leaning towards yours right now, judging from what you just told me.

[2019-04-19 00:56] pro-src commented on #6
That list is a very small subset of the data that we have at our disposal to implement this properly. Just use cloudscraper when @VeNoMouS releases it. Great progress is being made.

[2019-04-19 00:59] pannal commented on #6
@pro-src @VeNoMouS thank you for your work on all of this. And for coping with my off-topicness.

[2019-04-19 01:17] pannal commented on #6
Is there a Slack or Discord I may join for this project?

[2019-04-29 09:46] VeNoMouS commented on #6
@pannal we are now live :)

Try out thew new project ["cloudscraper"](https://pypi.org/project/cloudscraper/)

[2019-04-29 09:55] #6 closed

[2019-04-29 09:58] VeNoMouS opened #10 "reCAPTCHA"
@Mirio
Re https://github.com/VeNoMouS/cloudflare-scrape-js2py/issues/20

[code]

I actually worked out what was causing alot of the reCAPTCHA, and implemented fixes in place :)

However.. regardless I am going to be adding in 3rd party anti-captcha into this project.

[2019-04-29 12:45] quancore opened #11 "cfscrape convension"
Does it have the same API with cfscraper? So that we can easily migrate it. If not, can you provide a short guide for conversion between two of them?

[2019-04-29 12:47] VeNoMouS commented on #11
its almost exactly the same.. refer to the readme

[2019-04-29 12:50] quancore commented on #11
Thank you for your answer.The only thing I can say please deploy the package on anaconda as well so that we do not need to handle problems for dependencies or other kinds of stuff.

[2019-04-29 12:53] VeNoMouS commented on #11
@quancore do you not use `pip`?

[2019-04-29 12:57] pannal commented on #10
@VeNoMouS could you elaborate on what caused the reCAPTCHAs? Also, why do you explicitly create a cipherSuite adapter?

[2019-04-29 13:06] VeNoMouS commented on #10
same thing :) you answered your own question :)

[2019-04-29 13:11] pannal commented on #10
Oh? So they check for the SSL properties of the connection as well? Wow.

[2019-04-29 13:13] VeNoMouS commented on #10
Yea, after much investigation the ciphers were the only thing left... further investigation and testing proved me right.

[2019-04-29 13:21] quancore commented on #11
I will try and give feedback. I suggest it in general.

[2019-04-29 13:22] VeNoMouS commented on #11
Cheers mate, feedback is appreciated :)

[2019-04-29 14:11] pro-src commented on #10
It's actually a bit more complicated then how I imagine it appears. The only thing that is a known fact, at this point, is that many people were facing seemingly inexplicable occurrences of reCAPTCHA, observing differences between systems, etc., and the inclusion of one specific cipher consistently reproduced the problem. Whether or not you were affected is determined by many factors, namely CPU(d

[2019-04-30 10:56] #11 closed

[2019-04-30 16:52] pannal opened #12 "brotli handling"
Hey,

As far as I could see from my first code-digging into the new project you're removing the brotli capabilities of a user-agent that normally supports brotli, when brotli is explicitly disabled.

Is that a good idea for CF? Wouldn't it make more sense to restrict user-agents to non-brotli-capable user-agents once brotli is disabled? (Which is [what I've been doing in the fork](https://github.c

[2019-04-30 16:57] pro-src commented on #12
You're welcome for those lists. :smiley:

You know, the option is available so that if Brotli is unavailable or for optimization, you can opt out. CF doesn't care for the time being. Imagine that restricting the UA to very old UA's is more likely to get you flagged. All recent browsers support Brotli.

[2019-04-30 17:07] pro-src commented on #12
@pannal Did that make sense? That you shouldn't use Windows XP as your UA just so the accept-encoding header matches properly when it's currently safe to do otherwise? But from CF's perspective what are the odds that a normal user is using XP in 2019? I haven't tested the XP theory, wouldn't try it in the first place since I want to blend in. So ultimately you're screwed either way and shouldn't e

[2019-04-30 20:07] #12 closed

[2019-04-30 20:09] VeNoMouS commented on #12
Brotli is a feature you can disable in chrome...

![image](https://user-images.githubusercontent.com/597545/56990121-59853e80-6be8-11e9-8e3f-4fda5e5737dd.png)

It makes no sense for CF to reject on accept-encoding... hence why it works with it enabled or disabled.

[2019-04-30 20:19] pannal commented on #12
Great explanation @pro-src @VeNoMouS, thank you!

[2019-04-30 22:32] VeNoMouS commented on #12
Additionally... requests / urllib3 doesn't actually support brotli.. I actually added in decompression support.

[2019-05-01 00:43] pannal opened #13 "brotli handling #2"
Not being able to import the brotli dependency should lead to a default of `self.allow_brotli = kwargs.pop('allow_brotli', False)`.

[2019-05-01 00:47] pannal commented on #13
I'm guessing this would be a fitting fix:
[code]

[code]

[2019-05-01 01:13] VeNoMouS commented on #13
well.. since its a dependency of setup.py ... not really a problem is it?

[2019-05-01 01:14] VeNoMouS commented on #13
perhaps you should'nt harvest the code for your personal project and perhaps just incorporate my module as a dependency for yours?

just my 2 cents..

[2019-05-01 01:50] VeNoMouS commented on #13
@pannal i have pushed 1.1.2 which will now address your 'issue' if you wish to repackage my module.

[2019-05-01 02:53] #13 closed

[2019-05-01 02:53] VeNoMouS commented on #13
Refer ae146b460b332638bd1fb1a952321534c42187e9

[2019-05-01 03:06] pannal commented on #13
I really appreciate what you're doing here. I hope this is always clear.

I have to reincorporate your project into mine, because I can't use your dependencies.

This is not something I do because I want to, but because I am caged by the Plex Media Server Python environment.

If I could, I would create pull requests that you could actually use.

Sorry.

[2019-05-01 03:07] pannal commented on #13
Also, an issue posted here about your code is never meant to be negative.

[2019-05-01 03:09] pro-src commented on #13
@pannal As a past Plex channel developer, I know exactly what you mean by needing to reincorporate but where is the copyright notice?!

# *Copyright (c) 2019 VeNoMouS*

of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
co

[2019-05-01 03:15] pannal commented on #13
The LICENSE file has now been incorporated. I'm sorry for not realizing that.

And to make sure: I don't make any meaningful money from my project.

[2019-05-01 03:17] pro-src commented on #13
It's MIT, make $$$ Just give credit where it's due if you do. :smiley:

[2019-05-01 03:20] pannal commented on #13
You can see [that I normally do](https://github.com/pannal/Sub-Zero.bundle/tree/develop-2.6/Licenses), this was not intentional :)

[2019-05-01 03:21] pro-src commented on #13
@pannal Indeed.

[2019-05-01 03:26] pannal commented on #13
I reinvest the ~20$ that my project makes into other developers. This is a zero-sum-game.

[2019-05-01 03:32] pro-src commented on #13
@pannal

https://blog.fossa.io/you-cant-get-around-code-scanning-if-you-care-about-open-source-licenses-2db1fde43fb5 -> https://fossa.com/ -> https://app.fossa.com/account/login?next=%2F -> https://github.com/badges/shields/issues/1529 ->

[2019-05-02 19:49] ResQNetM opened #14 "Undefined is not a function"
When i try to get https://chatmanager.pro, cloudscraper throws the error:

And logging:

ERROR:root:"https://chatmanager.pro" returned an error. Could not collect tokens.

Code:

<bound method CloudScraper.get_tokens of <class 'cloudscraper.CloudScraper'>>

Other sites working

[2019-05-02 21:58] VeNoMouS commented on #14
Works fine for me....

can you please `scraper.debug=True` before you `scraper.get_tokens()` and pastebin the whole debug please ... as i can't replicate the issue...

[2019-05-02 23:57] valos commented on #14
I had the same error with the site https://japscan.to.
Adding 'br' in the Accept-Encoding header corrected the problem.
I hope this can help.

[2019-05-03 07:31] VeNoMouS commented on #14
but BR is in the accept encoding... brolti is enabled by default as long as you have the brotli library installed?!

[2019-05-03 07:31] VeNoMouS commented on #14
@valos can you debug for me with and without please?!

[2019-05-03 07:33] VeNoMouS commented on #14
Also.. I've used japscan.to many times to test with, and never had an issue... can you guys give me debug logs... as if there is a problem i'd rather resolve it, than have undocumented hacky work arounds... cheers :)

[2019-05-03 07:41] ResQNetM commented on #14
Too strange, problem solved when i use torsocks, but japscan.to dont work, log for:
https://pastebin.com/AAZcsvYf

[2019-05-03 08:08] VeNoMouS commented on #14
Thanks I'll go over the debug in awhile and get back to you if thats ok?

[2019-05-03 08:13] valos commented on #14
Strange, it does not work anymore this morning. It is therefore random.
Several tries (a dozen), only one success.
Here is a debug log: https://pastebin.com/Q89rmsTA

[2019-05-03 09:58] VeNoMouS commented on #14
Interesting... yea I can replicate under py3 not under py2... let me investigate.

[2019-05-03 10:14] VeNoMouS commented on #14
hrrm this seems to be directly related to js2py... trying to work it out as if i use nodejs via

[code]

it's fine

[2019-05-03 12:25] dci2112 opened #15 "Integration with QSickChill"
This is on a QNAP NAS using the current git master of SickChill.

I updated the QSickChill/SickChill/sickbeard/helpers.py to replace cfscrape:

[code]

Without the interpreter argument, I encountered the below error:

`AA AttributeError: 'module' object has no attribute 'disable_pyimport'
`

With the interpreter argument we are back to the tuples error:

[code]

[2019-05-03 12:38] VeNoMouS commented on #15
@dci2112 can you please confirm the version of js2py?

[2019-05-03 12:40] VeNoMouS commented on #15
hrrm are you sure you using that correctly, `disable_pyimport` is part of the js2py interpreter but your defining `nodejs` are you sure that is all you've changed?!

[2019-05-03 12:42] VeNoMouS commented on #15
re ```AA AttributeError: 'module' object has no attribute 'disable_pyimport'` please confirm your js2py version as `disable_pyimport` has been part of it js2py since ~2016...

do you have `nodejs` installed?

[2019-05-03 12:56] VeNoMouS commented on #14
@valos , @ResQNetM from what I can determine, its something to do with js2py's jsunfuck code, we (@pro-src ) and myself thought it was resolved with @pro-src's PR to @PiotrDabkowski repo https://github.com/PiotrDabkowski/Js2Py/pull/157

More investigation into what exactly is breaking is required... however I have put a bypass in place that does a manual jsunfuck before it sends it over to js2py..

[2019-05-03 13:57] PiotrDabkowski commented on #14
One solution is to simply include the polyfills that define the missing JS functionality. One example could be `String.prototype.italics`, this is needed by jsfuck but because italics is not part of ECMA 5.1 it is not defined in Js2Py.

[2019-05-03 13:57] VeNoMouS commented on #14
ok i traced it to

[code]

which translates to C

however.. it would appear the polyfill is not working for `"italics"`

[2019-05-03 13:59] VeNoMouS commented on #14
Hi @PiotrDabkowski thanks for responding, sorry mate, turns out it's our issue not yours due to the polyfill, spent more time investigating.. its 2am for me atm ;(

[2019-05-03 14:02] dci2112 commented on #15
I am using the versions packaged with QSickChill to my knowledge...I'm not sure how QSickchill/bin is populated though.

js2py:

[code]

NodeJs:

[code]

[2019-05-03 14:17] VeNoMouS commented on #15
Ok looked at the base code for sickchill, it has a REALLY old js2py in its libdir the `evaljs.js` doesn't even contain the function `disable_pyimport`

[2019-05-03 14:21] VeNoMouS commented on #15
Also I would test the library outside of sickchill first in regards to the nodejs issue

[code]

for example or....

[code]

[2019-05-03 14:21] VeNoMouS commented on #14
@PiotrDabkowski in regards to

[code]

any inside as to why that would not be working?

[2019-05-03 14:37] PiotrDabkowski commented on #14
Your JS code is wrong. You need to add the method to the string prototype:

`js2py.eval_js('function italics (str) {return "<i>" + this + "</i>"; };String.prototype.italics=italics;Function("return escape")()("")["italics"]()')`

[2019-05-03 14:45] dci2112 commented on #15
BTW, thank you for your attention in trying to get this working...SickChill has been broken for me for a long time because of these scrape issues.

Here we go:

[code]

[code]

It looks like it's still using js2py....not nodejs...

[2019-05-03 14:54] pro-src commented on #14
@PiotrDabkowski is absolutely correct. `italics` is a `String.prototype` method. :laughing:

[2019-05-03 15:06] pro-src commented on #14
@PiotrDabkowski Would you ever consider adding https://tc39.github.io/ecma262/#sec-additional-ecmascript-features-for-web-browsers ?

`italics (deprecated)` https://tc39.github.io/ecma262/#sec-string.prototype.italics
Similar methods: https://tc39.github.io/ecma262/#sec-additional-properties-of-the-string.prototype-object

[2019-05-03 15:10] pro-src commented on #14
I'm going to be that the answer is no and for that reason. Abandon js2py for this purpose... lol

[2019-05-03 15:14] VeNoMouS commented on #15
@dci2112 update your cloudscraper, that bug was reported couple hrs ago and has since been fixed ;P CF changed their code ;)

[2019-05-03 15:35] pro-src commented on #14
Using `core-js` is an option as well, it can normalize the runtime: https://github.com/zloirock/core-js/tree/master/packages/core-js/es/string

Which is essentially what you'd have to use if CF ever starts using es6 features since babel uses `core-js` under the hood and the only way to run es6 in js2py is to transpile down to es5 using babel or similar.

[2019-05-03 16:18] PiotrDabkowski commented on #14
You can even use js2py.eval_js6 to evaluate js6 code. It uses babel js translated to python via js2py.

[2019-05-03 16:28] pro-src commented on #14
@PiotrDabkowski I know it's possible to compile https://unpkg.com/core-js-bundle@3.0.1/minified.js using js2py but I'm curious as to how you would then reuse the compiled code with js2py. Do you mind giving me an example?

[2019-05-03 23:13] HawkLiking opened #22 "KeyError: 'return "<i>" + this + "</i>";'"
Hi !

Didn't see this new repo, happy to see that you are hardly working on it with pro-src :)

I have an issue with cloudscraper v1.1.4 (I did not test previous versions)

Here is my test code:
[code]

And here is the error:
[code]

The test was made with python3.5 , and with interpreter js2py and nodejs (same error for both).

Here is my pip3 freeze (I have all the needed requirements) https://z

[2019-05-03 23:13] HawkLiking commented on #22
I mailed you the full debug output by mail

[2019-05-03 23:14] pro-src opened #23 "Fix commit history"
Ideally, if you want to flatten a github repo, you would rebase in order to squash. However, the branch was completely recreated from nothing and my commits were lost from your repository. I have the contributor status but I co-authored this project and there isn't any proof of that while the code that I only contributed remains.

https://github.com/pro-src/cloudscraper.py/tree/ce939982607c3059a94

[2019-05-03 23:19] pro-src commented on #23
@pannal

[2019-05-03 23:52] pro-src commented on #22
@HawkLiking I do believe that it's already fixed it but hasn't been released. The commit that caused that problem had only been pushed and published a few minutes before you got copy.
I raised the issue here: https://github.com/VeNoMouS/cloudscraper/commit/0c5c6ced9c11cf95b65a2eff572c0bc90d6f80e3#r33407968

I'm not sure what the problem was with all of the PRs for the same thing: #17, #18, #19, #2

[2019-05-03 23:58] HawkLiking commented on #22
This was commited in the 1.1.4 one hour ago https://github.com/VeNoMouS/cloudscraper/commit/5c4638cceddb10c22d7a64916deddcb16a1fb0e1

My code was tested with this 1.1.4 commit (I'm not using pip to install cloudscraper, I'm cloning the master branch and installing with setup.py)

So I think the fix does not work for this issue, or that I am doing something else bad... :-/

[2019-05-03 23:59] pro-src commented on #14
@PiotrDabkowski I just looked at the code for `translate_es6_to_es5` as an example. I've got it figured out.

[2019-05-04 00:01] pro-src commented on #22
@HawkLiking The code on Github does not reflect what was published using twine to pypi.org which is where pip pulls the packages from by default. The error would make since only if the bad commit was in the release not the current one on master.

[2019-05-04 00:09] pro-src commented on #22
@HawkLiking Heres a command for you to check to confirm it. If grep doesn't print anything, you've got the bad commit.

[code]

[2019-05-04 00:18] HawkLiking commented on #22
Yep, grep doesn't print anything (beacause '{{ return "<i>"' was changed in the last commit on master)

So I just have to wait for the fix to be merged ? (I think I didn't fully understand the git/twine workflow you explained haha^^)

[2019-05-04 00:20] pro-src commented on #22
@HawkLiking Sorry, I missed your comment about not having used pip. I just tested and I'm able to produce the error as well. The problem is that the bad commit is till on master... It's odd... I think something werid was done in an attempt to fix, well something. lol

[2019-05-04 00:21] VeNoMouS commented on #22
Sorry guys... my bad, i'll fix it now.

[2019-05-04 00:26] VeNoMouS commented on #22
Sorry I did test before I went out... and I didn't see an initial issue... apologies guys.

[2019-05-04 00:28] VeNoMouS commented on #23
Oh @pro-src sorry man, didnt mean to wipe you off there I was just trying to clean up the history a little bit

[2019-05-04 00:29] VeNoMouS commented on #23
Get in discord I only just got home

[2019-05-04 00:33] HawkLiking commented on #22
Works like a charm ! Thank you @VeNoMouS , and @pro-src !

[2019-05-04 00:36] VeNoMouS commented on #22
Sorry again.

[2019-05-04 00:36] #22 closed

[2019-05-04 01:06] pro-src commented on #23
@VeNoMouS I don't mind helping or even doing the rebase myself (You could clone and force push it). The only thing that really bothers me about this is the current forks since they won't be able to easily pull or send valid PRs without re-forking/cloning the repo first. That said, I've thought about this and I think it should be done while there are only 3 such forks, only a small group of people

[2019-05-04 01:36] VeNoMouS commented on #23
Cheers mate :) I actually think its from when went "live" and if you recall i wiped out dev branch and did a clean push of all our work and removed all the mess that was in there while we initially worked on it...

[2019-05-04 02:21] pannal commented on #23
Why exactly was I highlighted for this? :D

[2019-05-04 06:30] pro-src opened #28 "IPC between Python and Node"
I wanted to share my thoughts on IPC between Python and Node. It could be beneficial now when solving challenges consecutively or if a polyfill ever becomes necessary. As of right now, if Cloudflare's Scrape Shield is bypassed on the first attempt, usually you won't need node again for around 30 minutes. Sharing anyway...

You don't have to use base64 to safely send code to node to run the VM whic

[2019-05-04 06:30] #28 closed

[2019-05-04 07:16] VeNoMouS commented on #28
Would be cool if node was a daemon ;P

[2019-05-04 07:22] pro-src commented on #28
Yeh, you could do away with a lot of state management by just putting a `JSON.parse` call in a `try..catch` but then you lose the advantage of not having to worry about quotes, spaces, etc.

[2019-05-04 07:36] pro-src commented on #28
@VeNoMouS While writing this, I realized that it's better just to use `Popen` and write to node's stdin if you're going to send arbitrary code, you still need a tiny amount of code on node's side which you can put in separate file and load with the `-r` flag. Let me know if you'd like me to share a snippet on how exactly that would be done.

[2019-05-04 08:10] pro-src commented on #28
@VeNoMouS - tested on Python 2 and 3

[code]

[2019-05-04 09:11] pro-src commented on #28
Actually, reading (node as daemon)'s stdout in python can work in a blocking way if you pad node's output to some known length, say 20, that would be good enough.

[2019-05-04 11:07] VeNoMouS commented on #28
I also got Chakra working, and its faster than node by ~25ms, when you get on discord you can see the test times.

[2019-05-04 13:40] #14 closed

[2019-05-04 14:06] Shinyhero36 opened #29 "[Error] ValueError: Captcha"
Hi,
I downloaded cloudscraper with pip and try the example on the github page
[code]

with this url: "https://www.japscan.to/".
But i got an error:
https://pastebin.com/wdmcmLv3

[2019-05-04 21:36] VeNoMouS commented on #29
Please supply with

[code]

And pastebin the whole output like its requested in the readme...

You have got a capthca... either due to CF changing their algo... or perhaps something else, but its impossible to tell without you supplying information.

[2019-05-05 06:19] frozenpandaman commented on #29
@VeNoMouS I'm getting the same error too. Here's my output from following your steps above (though with a request to mangadex.org instead, since that's the site giving me the error/reCAPTCHA challenge: https://pastebin.com/Qbk3YDFt

[2019-05-05 06:42] pro-src commented on #29
@frozenpandaman Shouldn't have to but... I think that's a real interesting idea, sorta like an OAuth redirect URL opening in the web browser, right?

It would require Cloudscraper to run a server and use of python's webbrowser (stdlib) to open the URL. Once opened, the page would solve the challenge and post the answer back to the server. It would make use of any web browser available and wouldn't

[2019-05-05 06:45] pro-src commented on #29
@frozenpandaman Would you install a browser web extension that Cloudscraper could communicate with for this purpose? I'd be willing to write one!

[2019-05-05 06:59] gumuliya commented on #29
I got the same error too, here is the output:
https://pastebin.com/wdmcmLv3

[2019-05-05 09:07] pro-src commented on #28
Modified nodejs.py: https://gist.github.com/pro-src/c1d890e81e1de128333f674417582138

[2019-05-05 10:48] pro-src commented on #23
@pannal I thought you might find it interesting. :innocent:

 I'm re-opening this since it still hasn't been fixed.

[2019-05-05 11:16] pro-src opened #31 "Method Names and Instance Variables"
https://www.python.org/dev/peps/pep-0008/#method-names-and-instance-variables

[2019-05-05 12:42] pro-src opened #32 "JavaScriptInterpreter Code Smell"
I don't think that a JavaScriptInterpreter should know how to solve challenges and thus shouldn't have a `solveChallenge` method. It smells like an anti-pattern to me. I want to call it [broken modularization](https://en.wikipedia.org/wiki/Design_smell). I recommend that the functionality in that method be moved out of the JavascriptInterpreter class and back into the CloudScraper class. Another o

[2019-05-05 22:26] VeNoMouS commented on #29
Cheers guys I will look into this later after ive done my day job

[2019-05-06 02:25] dci2112 commented on #15
That did it, I am back up and running, thank you!!!

[2019-05-06 03:33] VeNoMouS commented on #15
np mate, I'm going to close this off if you don't mind, we can re-open it, if you have further issues.

Enjoy

[2019-05-06 03:33] #15 closed

[2019-05-06 05:28] VeNoMouS commented on #29
Sorry while I got you boys here can you please run the following code and paste me the output

[code]

Just so I can get an idea of your cipher suites as well..

[2019-05-06 06:18] pro-src commented on #29
For python 3.5+ at least, it's going to be more informative to get the [shared ciphers](https://docs.python.org/3/library/ssl.html#ssl.SSLSocket.shared_ciphers).

[code]

[code]

[2019-05-06 08:28] vn-ki commented on #23
Please never rewrite git history. It is a very bad practice and you might end up creating headaches for any number of people who have cloned or forked the project.

[2019-05-06 08:40] pro-src commented on #23
Hi @vn-ki thanks for your input. This something that should never ever usually be done to the master branch of a repository but, like most things, there is an exception.

At this early stage of this very new project, I only know of 4 such people that would be affected. You can check the network members: https://github.com/VeNoMouS/cloudscraper/network/members

So once this issue has been taken car

[2019-05-06 09:36] pro-src commented on #23
On second thought, if simply keeping the other history in a separate branch will fix the repo stats, etc. then I'd be happy with that form of a historical record.

Although, I'm not sure if it will exactly... Obviously, I don't have control here and will take what I can get.

[2019-05-06 11:06] gumuliya commented on #29
sorry for late repply
the output is:
AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256

[2019-05-06 11:07] gumuliya commented on #29
@pro-src, here is the output:
Our ciphers: AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256
Cipher: ('ECDHE-ECDSA-AES128-GCM-SHA256', 'TLSv1.2', 128)
Shared ciphers: [('AES128-GCM-SHA256', 'TLSv1.2', 128), ('AES256-GCM-SHA384', 'TLSv1.2', 256), ('ECDHE-ECDSA-AES128-GCM

[2019-05-06 11:52] pro-src commented on #29
@gumuliya Doing a diff on the shared ciphers shows that the problem is actually the absence of TLSv1.3 ciphers which is what I discovered on nodejs: https://github.com/codemanki/cloudscraper/issues/211

You can read more info on how I came to that conclusion here: https://github.com/codemanki/cloudscraper/pull/212#issuecomment-488537157

There is not any difference in the ciphers that are being se

[2019-05-06 11:53] pro-src commented on #10
@pannal Regarding cipher lists: https://github.com/VeNoMouS/cloudscraper/issues/29#issuecomment-489593476

[2019-05-06 12:18] pro-src commented on #29
Also, it ***should not*** be necessary to do a try catch on the cipher list control string in the way that is currently being done since openssl will simply ignore unsupported ciphers. I don't know whether or not python is checking the ciphers and raising errors but openssl does not. If you're using an old version of openssl that doesn't support these ciphers then the settings will not have any ef

[2019-05-06 12:49] VeNoMouS commented on #29
@gumuliya thanks for sharing that information... looking at my own system im pretty much the same as you are...

[code]

Lets see if we can get to the bottom of this :)

[2019-05-06 12:59] VeNoMouS commented on #29
ok @Shinyhero36 looking at yours... your header order is out of order...

ie mine

[code]

[code]

notice how

`Accept-Language` and `Accept-Encoding` in the wrong order on yours... and trust me, it does matter with CF as we discovered awhile ago... this could be an issue with your OrderedDict or your requests library...  can you please show `pip freeze` for __collections__ and __requests__

[2019-05-06 13:01] VeNoMouS commented on #29
Actually nm revering the browser json it appears that is correct I will need to manually double check that order however..

[2019-05-06 13:03] VeNoMouS commented on #29
Tested with

[code]

and solved challenge fine...

[2019-05-06 13:06] Shinyhero36 commented on #29
I am currently in class I will do it as soon as possible @VeNoMouS

[2019-05-06 13:10] VeNoMouS commented on #29
@Shinyhero36 all good mate its 1am here im going to goto bed soon, sorry to ask this info from you just helps us narrow stuff down... can you also give me the `pip freeze` for __cryptography__ thanks.

[2019-05-06 13:12] pro-src commented on #29
... `python -c "import ssl; print ssl.OPENSSL_VERSION"`

[2019-05-06 13:16] pro-src commented on #29
Right so like I said... Those TLSv1.3 options should be backported.

[2019-05-06 13:19] VeNoMouS commented on #29
@pro-src the tls 1.3 isn't relevant... as mine solves fine..

[2019-05-06 13:33] gumuliya commented on #29
@pro-src , OpenSSL 1.1.0j  20 Nov 2018

[2019-05-06 13:43] pro-src commented on #29
@VeNoMouS  I guaranteed that if he modifies the transport adapter that is being mounted for HTTPS connections to use the TLSv1.1 protocol which doesn't have the signature algorithms extension that the problem will go away. In tests, I have seen that the difference in the signature was the absence of the TLSv1.3 ciphers (ssllabs did report other unclear differences) but it has already solved this s

[2019-05-06 13:44] pro-src commented on #29
@gumuliya Thanks, it matches exactly what I expected. openssl version that is less than `v1.1.1`

[2019-05-06 13:49] VeNoMouS commented on #29
`IIRC, you upgraded your openssl version to match mine when we were looking at this before, remember???? ` ... i never upgraded my openssl

[2019-05-06 13:56] VeNoMouS commented on #29
also I think you mean `OP_NO_TLSv1_1` also... `PROTOCOL_TLSv1` is depreciated https://docs.python.org/2/library/ssl.html#ssl.PROTOCOL_TLSv1_1

[2019-05-06 13:58] pro-src commented on #29
Fixed, Of course it is ***deprecated***.

[2019-05-06 14:24] pro-src commented on #29
https://github.com/codemanki/cloudscraper/issues/211#issuecomment-487980993
Anyways... I'm hoping off of this issue. Best of luck guys...

[2019-05-06 15:07] Shinyhero36 commented on #29
Sorry for my late response here is the answer
'''
AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256
'''
here is the pip freeze:
'''
beautifulsoup4==4.6.0
Brotli==1.0.7
bs4==0.0.1
cachetools==3.1.0
certifi==2017.4.17
cfscrape==1.9.7
chardet==3.0.4
cloudscraper==1.1.5
col

[2019-05-06 15:20] gumuliya commented on #29
@pro-src, update my openssl to v1.1.1b and no more captcha
here the test output :
[(https://pastebin.com/rf05263a)]

[2019-05-06 16:03] pro-src commented on #23
@VeNoMouS It's been 3 days, I've been on discord multiple times, and provided step by step instructions on the rebase procedure. If you will kindly and simply just push a branch to repo so this can be closed without annoying anybody. Here is a simpler set of commands to do just that.

[code]

After that, if you want to edit commit messages, etc., feel free to do an interactive rebase.

~Thanks

[2019-05-06 17:55] para-dise opened #33 "Empty cf_clearance?"
I just started using the lib, and I'm not fully sure, but it seems weird to me that the cf_clearance is empty.

My code:
[code]

And this seemed to return this:
`{'cf_clearance': '', '__cfduid': 'd08aa4c08c1462447eb2ad1a390b4ec131557165306'}
`
Is this normal? I thought cloudflare sets a cf_clearance.

[2019-05-06 21:58] VeNoMouS commented on #29
@Shinyhero36 can you tell what version `cryptography` module is...

[2019-05-06 22:02] Shinyhero36 commented on #29
I didn't have the package i just install it here is the version ```cryptography==2.6.1```

[2019-05-06 22:09] VeNoMouS commented on #29
Did that make any difference @Shinyhero36 ? just trying to workout what the exact difference is between yourself and I as I have the same openssl version.

[2019-05-06 22:15] Shinyhero36 commented on #29
It seems there aren't any differences
https://pastebin.com/Ja305udq

[2019-05-06 22:24] VeNoMouS commented on #29
Can you try what @pro-src suggested... edit cloudscraper `__init__.py` and change the CipherSuiteAdapter to the following and test it for me.

[code]

[2019-05-06 22:29] Shinyhero36 commented on #29
```__init.py__``` change

output:
https://pastebin.com/T4S1aCVq

[2019-05-06 22:34] VeNoMouS commented on #29
@Shinyhero36 one more test... just so i can write a work around gimmie a sec to code it up and test

[2019-05-06 22:47] VeNoMouS commented on #29
I will have to write this later I have to go into the office for a bit, @Shinyhero36 and @gumuliya can you both not change anything on your system / code you're ideal test candidates for work around... I want to check some things and put a work around in place for the core code to detect specific attributes

Anyway I gotta get going I will talk to you guys later, and I appreciate helping me / us /

[2019-05-07 03:02] pro-src commented on #29
I'm just commenting to clearly state the problem. Feel free to @mention me though...

As it turns out, urllib3 is already doing exactly what I have recommended as a fix but it has no effect since the ciphers are being overridden...
[code]
As we can see, blindly removing ciphers is not a good idea.

Quoting myself. :point_up:
This is how you would determine whether or not to play with the ciphers.

[2019-05-07 03:31] pro-src commented on #29
@Shinyhero36 Please remove the cryptography package if you do get a CAPTCHA before posting your response since that affects the aforementioned test... Thanks...

[2019-05-07 05:49] VeNoMouS commented on #29
[code]

@pro-src excuse me?

[2019-05-07 05:56] pro-src commented on #29
@VeNoMouS I can't think of any excuses given how many times I recommended a completely different approach.

Calm down now son...

[2019-05-07 06:57] VeNoMouS commented on #23
Just so your all aware, I have had to block pro-src from my repo and discord due to comments directed at myself and other people that I feel don't belong in this public forum, after his outburst in discord, he has filed a `DMCA takedown notice` with github.

Anyway this is petty, and we will see what github responds with.

[2019-05-07 07:17] #23 closed

[2019-05-07 07:24] VeNoMouS commented on #33
Hi @para-dise , while not normal , i have seen that happen once or twice... however... you only need the __cfduid in order to use cloudflare, so i wouldnt be too concerned about it.

is there any reason you're extracting the cookies rather than just using `cloudscraper.get()` or `.post()` etc, as the library is calling requests as a super.

[2019-05-07 13:57] #33 closed

[2019-05-07 18:25] Shinyhero36 commented on #29
@pro-src , sorry to be late
here is the output:
[code]

[2019-05-07 22:55] VeNoMouS commented on #29
@Shinyhero36 wondering if your available to run some tests for me?

[2019-05-07 22:56] VeNoMouS commented on #29
I think i've worked out the root cause.

[2019-05-07 23:02] pannal commented on #29
@VeNoMouS I'm available as well, as subscene doesn't like the current approach, either.

I'd also love to join you guys on Discord, whatever's currently happening with this project (there seems to be beef between you and @pro-src)

[2019-05-07 23:03] VeNoMouS commented on #29
@pannal flick me an email i'll send you an invite

[2019-05-08 02:50] VeNoMouS commented on #29
@Shinyhero36 , @gumuliya I have released 1.1.6 , thanks to @pannal who had some systems that were slightly out of date that we were able to test 3 different scenarios on..

[2019-05-08 03:28] gumuliya commented on #29
@VeNoMouS I tested v1.1.6 on my other device with python v2.7 & v3.5 both OpenSSL 1.1.0j 20 Nov 2018.
With python 2.7 captcha error is raised :
`https://pastebin.com/yBjSZcXb`

`asn1crypto==0.24.0
Brotli==1.0.7
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cloudscraper==1.1.5
cryptography==2.6.1
enum34==1.1.6
idna==2.8
ipaddress==1.0.22
Js2Py==0.63
pexpect==4.2.1
Pillow==4.0.0
ptyprocess==0.5.1
py

[2019-05-08 03:29] VeNoMouS commented on #29
hi @gumuliya sorry i noticed some other things... can you jump to 1.1.8 sorry

[2019-05-08 03:37] VeNoMouS commented on #29
@gumuliya all good?

[2019-05-08 03:47] gumuliya commented on #29
with v1.1.8, both py2.7 and py3.5 raise captcha
py2.7 output :
`https://pastebin.com/bujDXX3p'

py3.5 output:
`https://pastebin.com/bujDXX3p`

[2019-05-08 03:54] VeNoMouS commented on #29
@gumuliya can you jump on my discord? send me an email i'll flick you an invite.

[2019-05-08 07:39] Shinyhero36 commented on #29
@VeNoMouS yeh i am ready to test

[2019-05-08 07:42] Shinyhero36 commented on #29
I am sorry i didn't receive the notification i am currently ready

[2019-05-08 07:48] VeNoMouS commented on #29
@Shinyhero36 all good mate, just saw your email, have sent you an invite... if you are able to get on in the next 5 mins i can talk you through a test... I'm about to go out for a few hours

[2019-05-08 16:49] johnnyollo opened #37 "Get captchas every time while on node js never"
Hi, I'm new of python, I get captchas on every request while on node js with https://github.com/codemanki/cloudscraper never got one.
I tried to solve them with 3rd part services, but I have to solve dozens of captchas before be able to see the page. This happened on every cf site that I tried, no ip ban.

[2019-05-08 22:28] VeNoMouS commented on #37
ok? not sure what you're asking me here?

[2019-05-09 00:10] VeNoMouS commented on #37
@johnnyollo i just pushed 1.1.9 release can you test that and see if you still have issues,

sorry first time i read what you said, i didn't understand what you were saying, apologies.

[2019-05-09 00:11] VeNoMouS commented on #29
OK guys, 1.1.9 released, thank you to everyone (@gumuliya , @pannal , @krylancelo, @Shinyhero36)  for testing and confirming that all is working :)

[2019-05-09 00:11] #29 closed

[2019-05-09 07:17] johnnyollo commented on #37
Thank you, I’ll try it as soon as I’ll be at home. Sorry for my English

[2019-05-09 20:31] devprojectid opened #38 "can im using custom user-agent ?"
i'ts possible to scrape cookies using custom user-agent ?
ex:
custom-ue = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36"

[2019-05-09 23:15] VeNoMouS commented on #38
You can but you will need to set the whole header order correctly... the user-agent is currently set from [this list](https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/user_agent/browsers.json) randomly... Cloudflares Bot Inspection is now assessing the header's and header order... if you do set a custom user-agent via scraper.headers __YOU WILL NEED__ to set all the headers correc

[2019-05-10 05:36] johnnyollo commented on #37
still get captchas,
my code: https://pastebin.com/QHhpjZSU
output: https://pastebin.com/DAEbr9xd

[2019-05-10 06:15] OfficialSpade000 opened #39 "Download image file from a Cloudflare protected web. AKA Feature Request"
There's this problem when trying to download a image from a cloudflare protected website using urllib

Here's the sample code.

[code]

Note that I have two src var. kissanime have a cloudflare protected and google have none.

[2019-05-10 21:30] HawkLiking commented on #39
Why urllib ?

Just use cloudscraper (this repo) with (or not) requests lib, nothing difficult here :)

[2019-05-10 21:51] OfficialSpade000 commented on #39
Oh! I totally forgotten that we can also use cloudscraper. (I was thinking that time that only `urllib` was the only one that works in grabbing images). I'll try this [stack discussion](https://stackoverflow.com/questions/13137817/how-to-download-image-using-requests). Meanwhile I'm gonna close this issue.

[2019-05-10 21:51] #39 closed

[2019-05-12 07:37] #38 closed

[2019-05-12 10:15] VeNoMouS commented on #39
@OfficialSpade000 refer to https://github.com/VeNoMouS/cloudscraper#usage if you need some guidance :)

[2019-05-12 10:29] VeNoMouS commented on #37
Is there any reason your setting custom headers? you have to have them in the exact order otherwise you will get a captcha ... the code sets a random browser user-agent for you from https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/user_agent/browsers.json so there is no need to specify a user-agent like that...

[2019-05-12 10:38] VeNoMouS commented on #10
Closing for now , as I don't see this as an issue as we solved the reCaptcha issues, should this be a problem in future we will circle back around and introduce some 3rd party modules to battle this, if you wish to keep this open @pannal thats cool as well :)

[2019-05-12 10:38] #10 closed

[2019-05-12 17:43] #37 closed

[2019-05-12 22:00] VeNoMouS commented on #37
@johnnyollo , sorry did you get you're issue resolved?

[2019-05-19 02:51] miigotu commented on #23
This is actually a pretty serious issue. It seems minor to you which i sort of understand, but his DMCA is actually valid if you remove history and credits because it breaks the licensing and is actually illegal. Commit and contribution history, even if it looks messy, doesn't hurt the project whatsoever.

I'm not saying this to attack you or even place blame, I just don't think you understand how

[2019-05-19 04:23] pannal commented on #23
- which license has been broken explicitly, when, how and by whom?
- how does an accidental force-push exactly infringe what, how and by whom?
- `I'm not saying this to attack you or even place blame` - If there's no blame, what exactly do you want?

Does the DMCA still stand? If it does, let's wait for its result. If it doesn't, cease your comments. Simple.

[2019-05-19 04:24] pannal commented on #23
Then don't.

[2019-05-19 09:41] WebSpider commented on #23
@pannal Now that you ask:

The MIT license at https://github.com/Anorov/cloudflare-scrape/blob/master/LICENSE requires contribution to Anorov.

This was done in commit #1 in this repo, and has not yet been repaired

This repo has lost the original copyright claim, and thus infringes on the original authors rights.

With MIT license it should be pretty simple: Restore proper attributions in the LIC

[2019-05-24 12:26] miigotu commented on #23
Not sure who @pannal even is, so there is nothing to discuss with them. I don't need a welcome, I've been doing this likely longer than you have been alive.
You can want something without attacking someone. I want this project to give the credit it owes to its previous contributors and come back into compliance with community standards so that we can embrace the project and use it, otherwise its j

[2019-05-24 12:34] pannal commented on #23
@miigotu yeah sorry for the harsh response. I was a bit in over my head. I'm not directly involved with this project, so just ignore my comments :)

[2019-05-24 13:34] WebSpider commented on #23
@miigotu it appears @VeNoMouS fixed the attribution in ead8f19

[2019-05-24 13:46] pannal commented on #29
@VeNoMouS I can't see the Discord that you invited me to before, anymore. Any specific reason for that?

[2019-05-24 22:28] VeNoMouS commented on #29
@pannal check youre email

[2019-05-24 22:37] VeNoMouS commented on #23
Can we all please act civil and not feed off each others hostility, I have chosen not to engage in this bullshit for a reason.

@miigotu I did send you an email, along time ago (05/08)

[2019-05-26 10:26] BarryThrill opened #41 "Is it possible to use cookies until response is Cloudflare challange?"
Hello!

This isn't a really issue but more of a question and an example of it would be nice to see.

My question is that is it possible to run a session where we call the cloudscraper once and use those cookies into the pages we use for requests and to refresh cloudscraper cookies until the requests returns a reponse of 502 (Which I believe means cloudflare challange)?

Would something like this b

[2019-05-26 10:59] VeNoMouS commented on #41
yup...Hey @BarryThrill , refer to https://github.com/VeNoMouS/cloudscraper#retrieving-a-cookie-dict-through-a-proxy

[2019-05-26 12:47] BarryThrill commented on #41
Hmm alright! So I tried to use your example and also the retrieving-a-cookie-string method. What I tried first is that I tried to use ur code:
[code]
This just returned me a 503 response asking for Cloudflare challange.

I tried also to apply **__cfduid** and **cf_clearance=** in a cookie headers which also returned a response of 503 (Cloudflare challange).

This is my code:

[code]

[2019-05-26 18:30] JeanRon opened #42 "Always got Captcha challenge on some sites"
Hi, I get captchas on every request while on : https://www.nakedcph.com

this is my code : https://pastebin.com/2NwhHhxa

Any idea ?
tested on others site working great

[2019-05-26 20:52] #41 closed

[2019-05-26 22:13] VeNoMouS commented on #42
Yea that's an interesting one... I might need to investigate this further... because purely from just a header perspective... its the same... I can get a reCaptcha... i can issue a `get()` again and it works... or i can `create_scraper()` again and works instantly... i'm not 100% certain as to why CF is doing that... and you don't get a reCaptcha all the time which is weird.

[code]

[code]

[2019-05-26 23:13] VeNoMouS commented on #42
Interesting... seems User-Agent __Chrome/63.0.3239.84__ could be the root cause... i'll do more testing to confirm...

[code]

[2019-05-26 23:38] VeNoMouS commented on #42
[code]

[2019-05-27 01:49] VeNoMouS commented on #42
@JeanRon upgrade cloudscraper to version __1.1.12__, i refactored the User-Agent's __browsers.json__ a bit, i also removed the bad agent `Chrome/63.0.3239.84` and adjusted the User-Agent randomization a bit more...

[code]

[2019-05-27 04:48] #42 closed

[2019-05-27 09:12] JeanRon commented on #42
Thanks for the update, i checked when i use cloudscraper 1.1.12 without proxies it working (local ip) but not with proxies ... Any idea ?

[2019-05-27 09:13] VeNoMouS commented on #42
It's on my to do list, is this a socks proxy or a https proxy? is it doing ssl pass through?

[2019-05-27 09:16] JeanRon commented on #42
its https proxy, not sure about ssl pass ..

okay will do it

[2019-05-27 09:18] JeanRon opened #43 "proxy issues, getting captcha challenge"
Hi, open this new ticket.

When i putting proxies on cloudscraper, i always get captcha challenge.

Ps: Can i  ini session on local ip and then navigate in the sites with proxies ?

[2019-05-27 10:14] VeNoMouS commented on #43
[code]

yes, just `{}` the proxies in your scrapper session.

[2019-05-27 11:52] VeNoMouS commented on #43
The only "major" thing is see is that requests uses urllib3 which inturn uses httplib to proxiy https requests... and this changes the request methodology from a `GET` to a `CONNECT`...

I still need to investigate more

[2019-05-27 12:34] JeanRon commented on #43
I tried this : `def IniSession(proxies,k):

    while 1 :

        print('Monitor {} - Try to ini session '.format(k))
        L = []
        s = cfscrape.create_scraper()
        proxie=None
        try:

            a = s.get('https://www.nakedcph.com/adidas-originals-yeezy-boost-350-v2-eg5293/p/7677', proxies=proxie)

            if a.status_code == 200 :

                print('Monitor {} - In

[2019-05-27 13:03] VeNoMouS commented on #43
So... after much debugging... i just decided to install my own socks5 proxy locally to test with,... i don't get any reCaptcha's ... @JeanRon have you tested this out with a local proxy instead of a random public one?

[2019-05-27 13:05] VeNoMouS commented on #43
That said... I am in the process of implementing some 3rd party reCaptcha solvers... so if you do want to use public proxies... you can solve the reCaptcha that way... but of course you will need to get an account with said 3rd party... but tbh they cheap as...

[2019-05-27 13:22] JeanRon commented on #43
That not free public proxies, but they could be flag. Where did you make your proxies ?
sounds good

[2019-05-27 13:23] VeNoMouS commented on #43
I used `danted`

[2019-05-27 21:50] Piedrosys opened #44 "What is reason DCMA notice"
I see lot this on Github? Say not following license or steal?

I ***afirm*** that I have read the Guide to Submitting a DMCA Takedown
Notice: https://help.github.com/articles/guide-to-submitting-a-dmca-takedown-notice/
I ***afirm*** that I have read the DMCA Takedown Policy:
https://help.github.com/articles/dmca-takedown-policy/

**Are you the copyright owner or authorized to act on the copyright

[2019-05-27 22:03] VeNoMouS commented on #44
That is pro-src being extremely petty after i banned him from this repo and my discord for being abusive to myself and others of the community, its his second attempt at filing a DMCA against this project.

I should just report him for abuse.

He clearly doesn't know how the DMCA works...

I personally think he could benefit from counseling as I suspect he's bi-polar, he doesn't have a job and spe

[2019-05-27 22:11] VeNoMouS commented on #44
Also funny that you specifically created your account only 30 minutes ago.... just to post that...

[2019-05-27 22:11] #44 closed

[2019-05-27 22:11] Piedrosys commented on #44
Not personal. You say he do stuff but he create the project? You copy or no?
Clone not work and license chagne so he right or no?
He say theft there https://github.com/pypa/warehouse/issues/5901
And why change even he not code creator?

[2019-05-27 22:16] VeNoMouS commented on #44
@Piedrosys no... if your referring to the pypi name space....

![image](https://user-images.githubusercontent.com/597545/58440849-430fcb80-8131-11e9-8058-0cdbc86bc865.png)

![image](https://user-images.githubusercontent.com/597545/58440863-620e5d80-8131-11e9-972f-4b6d0c3420fc.png)

if your refering to the actual code... look at the commit history of this project...  most of this code came from my

[2019-05-27 22:19] Piedrosys commented on #44
ok he did create but delete why? Look like he gave you like said
commit keep changing. What is problem?

[2019-05-27 22:20] Piedrosys commented on #44
Code came from cloudflare-scrape or no?

[2019-05-27 22:21] VeNoMouS commented on #44
@Piedrosys he created the initial name space on pypi that is all , he gave it to me, none of the code that was on their was used, all the code in this project is originated from https://github.com/VeNoMouS/cloudflare-scrape-js2py

[2019-05-27 22:21] Piedrosys commented on #44
ok thank you but still confused not make sense

[2019-05-27 22:22] VeNoMouS commented on #44
not sure what you are confused about?

[2019-05-27 22:23] Piedrosys commented on #44
Sorry no mean make mad sorry I leave now

[2019-05-27 22:23] VeNoMouS commented on #44
You're not making me angry, just wondering why you are confused?

[2019-05-27 22:25] Piedrosys commented on #44
You say he not author I see different commit changing. it okay I like the project

[2019-05-27 22:26] Piedrosys commented on #44
Sorry no good english

[2019-05-27 22:29] VeNoMouS commented on #44
`You say he not author I see different commit changing. it okay I like the project`

He is not the author, When I initially started this project there was alot of dirty commits etc... he did a couple PR's... before i made a production release i did a fresh repo and force pushed...

I have since fixed this by rebasing the his PR's back in and acknowledged what little code he did contribute.

[2019-05-27 22:35] VeNoMouS commented on #44
Also history logs from pypi showing pro-src making me the owner and taking himself off owner..

![image](https://user-images.githubusercontent.com/597545/58441213-3f317880-8134-11e9-8ea0-6d7d43339504.png)

[2019-05-27 22:38] VeNoMouS commented on #44
@WebSpider, @pannal, @miigotu.... figured since you were so interested about this i would include you.

[2019-05-27 22:38] Piedrosys commented on #44
ok understand a little and I read https://github.com/VeNoMouS/cloudscraper/issues/23
So you try to fix mistakes but whyy he get mad? it ok you tell more
No use code on discord or he lie? Why no fix sooner I make new clone
what he say abusive?

[2019-05-27 22:46] VeNoMouS commented on #44
@Piedrosys no ... while code ideas were discussed, none of his code was "stolen" i'm sure @Krylanc3lo can also vouch since he was sitting in the discord...

He's mad because the guy is bi-polar asf..

https://github.com/PiotrDabkowski/Js2Py/issues/167
https://github.com/PiotrDabkowski/Js2Py/issues/168

He abuses people, then changes the story afterwards... i feel sorry for @PiotrDabkowski as I hav

[2019-05-27 22:47] VeNoMouS commented on #44
![image](https://user-images.githubusercontent.com/597545/58441408-009cbd80-8136-11e9-8270-d1a40be45720.png)

[2019-05-27 22:49] VeNoMouS commented on #44
Look I can go on and on, and paste further but at the end... i'm not wanting to play his stupid games, So I'm going to refrain from continuing this conversation, frankly it's pointless

[2019-05-27 22:54] Piedrosys commented on #44
oooo rude to https://github.com/PiotrDabkowski/Js2Py/issues/168
block him for this or no? I see he call you a name when argue
hmm... He get mad but some not make sense no whole story here
thank you anwer me and for info. I keep use my code and no problem legal?

[2019-05-27 22:57] VeNoMouS commented on #44
@Piedrosys his DMCA's are __not valid__ and he's simply lashing out, there are no legal problems.

[2019-05-28 01:10] Piedrosys commented on #44
the pro guy look like work a lot this at Mar 28 https://github.com/codemanki/cloudscraper/issues/80#issuecomment-477672175
not sure what happens but this not look good at all
Sorry I use nodejs so no legal problem there
hope it ok here and no problem with law

[2019-05-28 01:12] VeNoMouS commented on #44
@Piedrosys you know https://github.com/codemanki/cloudscraper/ is javascript for node right? this is all a python project...

[2019-05-28 01:14] Piedrosys commented on #44
oh I not know. thanks

[2019-05-28 01:19] VeNoMouS commented on #44
@Piedrosys while i appreciate your interest in this matter, however... I'm refuse to get sucked back into pro-src's drama, so unless you have something constructive further too add to this thread, I am going to refrain from contributing anything more on this thread, its already taken up more time than i want to give to it.

thanks :)

[2019-05-29 07:40] VeNoMouS commented on #43
@JeanRon re those proxies?

[2019-05-30 03:23] Piedrosys commented on #44
I need ask browser.json. Who create it? pro guy lies again?
Me friend say you and commit is you and other commit say him
I no think pro guy lie. Why say mean thing here? No good :

[2019-05-31 08:08] JeanRon commented on #43
Hi, proxies are form different servers, Linode, vultr etc ..

[2019-05-31 08:17] Piedrosys opened #45 "New browser.json is same old"
You add new browser.json but it is same.
Same file but repeated? still no good :/

[2019-05-31 08:24] Piedrosys opened #46 "New browser.json is same old"
I make issue but why delete? Use pro guy stuff is bad for us.
It is same. No use same repeated file please.

[2019-05-31 08:24] Piedrosys commented on #46
No delete me please

[2019-05-31 08:28] Piedrosys commented on #44
you delete all issue I open and you mad?
You say new brower.json but not.
It is same but repeat file.
I say no more if you delete

[2019-06-01 01:09] VeNoMouS commented on #43
@JeanRon tbh, i think its because the exit nodes are known to CF... anyway i have started to introduce 3rd party reCaptcha resolvers into the code, currently anti-captcha.com is in there, and im working on deathbycaptcha atm, but there service seems to keep going down and giving me 500 errors... so it makes it hard to test / write for...

I'm going to close this off as i do not believe this is a c

[2019-06-01 01:09] #43 closed

[2019-06-04 15:35] kxltsuper opened #47 "brotli.error: BrotliDecompress failed"
cloudscraper 1.1.16

website:  https://bwh88.net/

scraper = cloudscraper.create_scraper()
req=scraper.get("https://bwh88.net/")
--------------------------
Traceback (most recent call last):
  File "C:/Users/jsd/PycharmProjects/Uovz_qiangou/bwg_qianggou.py", line 268, in <module>
    main()
  File "C:/Users/jsd/PycharmProjects/Uovz_qiangou/bwg_qianggou.py", line 72, in main
    req=scraper.get("ht

[2019-06-04 22:06] VeNoMouS commented on #47
Could be a bad brotli response .. in the mean time try set allow_brotli=False in your scraper

[code]

Thanks though @kxltsuper i'll look into this, the above should help you however

[2019-06-05 01:17] kxltsuper commented on #47
thank you.
`    scraper = cloudscraper.create_scraper(allow_brotli=False)
    req=scraper.get("https://bwh88.net/",headers=header,verify=False)
    print req.content`
but still can't get the right content which i want.

because i can't get the "u_token":
u_token=re.search('<input type="hidden" name="token" value="(.*?)" />',req.content).group(1)

can you help me to test it?

[2019-06-05 01:27] VeNoMouS commented on #47
I would not recommend setting headers UNLESS you have to, Cloudflare's bot inspects the header order of known browsers etc... cloudscraper sets up random User-Agents from a massive list https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/user_agent/browsers.json?raw=true , if you __really__ need to pass headers... Make sure you use OrderedDict from collections and you set them up in

[2019-06-05 01:50] VeNoMouS opened #48 "Cloudflare _cf_bm cookie"
https://support.cloudflare.com/hc/en-us/articles/360024829591-What-does-the-Cloudflare-cf-bm-cookie-do-

@buro9 .... anything we should be concerned with? ;P

[2019-06-05 08:18] kxltsuper commented on #47
thank you very much. i solve it.

[2019-06-05 10:00] #47 closed

[2019-06-05 20:47] sockets opened #49 "Question"
Do you perhaps have a discord or telegram where I can contact you easier?

[2019-06-06 07:15] VeNoMouS commented on #49
Easier for whom? `VeNoMouSNZ#5979` Discord...

[2019-06-06 08:28] VeNoMouS commented on #47
thanks @kxltsuper , that helped  me track down the issue, urllib3 1.25.1 added in brotli decompression support

if you are running 2.22.0 you are more than most likely running new urllib3

[code]

Anyway I am adding in a fix for it now

[2019-06-06 09:13] #49 closed

[2019-06-10 19:31] verybadsoldier opened #50 "SOCKS5 proxy: Always getting root URL instead of requested URL"
I am trying to use a SOCKS5 proxy. It basically works but it seems I am always getting the root website instead of the URL I requested.

So when requesting `https://example.com/page1` I am getting a response as if I had requested `https://example.com`.

Code to reproduce:
[code]

This delivers correctly that:
[code]

But when I add a proxy:
[code]

Then I get this:
[code]

Which is not the request

[2019-06-10 19:36] verybadsoldier commented on #50
This is my pip:
[code]

[2019-06-10 22:30] VeNoMouS commented on #50
@verybadsoldier i'll investigate this for you later today, thanks for raising the issue.

[2019-06-11 05:55] VeNoMouS commented on #50
@verybadsoldier can you email your full debugs please, as im having problems replicating your probem...

[2019-06-11 06:03] verybadsoldier commented on #50
@VeNoMouS
Interesting. Yes, seems to be working for you.

This is my log without proxy:
https://pastebin.com/fTe6tJ9J

And this is with proxy:
https://pastebin.com/mQGPmRPd

[2019-06-11 07:28] VeNoMouS commented on #50
Yea so on the 302..

[code]

it's changing the Location on you to /

[2019-06-11 07:31] VeNoMouS commented on #50
I'll see if i replicate what is going on and try to work out why its redirecting you away...

[2019-06-11 07:47] verybadsoldier commented on #50
Sorry, I just noticed that you wanted the logs to be emailed. I hope the pastebin way was ok also.

[2019-06-11 08:15] VeNoMouS commented on #50
Yea paste is fine, most people seem to want to keep their requests private (not sure why) so its just easier to say hey email... otherwise you never get them

[2019-06-11 08:25] VeNoMouS commented on #50
@verybadsoldier can you show me a couple raw debugs with fresh create_scraper()'s

[2019-06-11 08:45] verybadsoldier commented on #50
You mean running this demo program a couple of times?
[code]

[2019-06-11 10:25] VeNoMouS commented on #50
yea , i just wanna see if its mozilla user-agent causing it, or if its a random thing going on.

[2019-06-11 11:31] verybadsoldier commented on #50
Just to make sure that I don't misunderstand you:
I should run the exact same code that I ran before to provide my latest log, yes?
If yes then, tbh, I do not expect a different outcome and would not expect a change in the user-agent header. But sure, I am not the expert and I will provider whatever is helpful to you.

Sorry if I got something wrong.

[2019-06-11 13:18] VeNoMouS commented on #50
@verybadsoldier what I think is happening ... and tbh its not my code this is cloudflare, is due to you failing the first challenge response... the second challenge takes the failed solve as the the base url , technically you shouldnt fail the first not sure why you did... have you tried a different interpreter instead of __js2py__?

Anyway... I guess a resolve could be.. in place of https://githu

[2019-06-11 23:30] VeNoMouS commented on #50
@verybadsoldier how'd you go?

[2019-06-12 08:52] verybadsoldier commented on #50
Yay, I changed the code and this is working nicely, thanks!!

No, I did not try yet. But looks interesting.

So, is this a code change you would consider to keep that way or was it more like a workaround? I would be happy to test further stuff when you need something (e.g. the javascript interpreter?).

Thanks!

[2019-06-12 10:01] VeNoMouS commented on #50
I'll get my test group to test it more as, as i said i dont think theres any real side affects but we are basicly ignoring the 302 ... so ..... yeaaaaa

[2019-06-13 16:13] #50 closed

[2019-06-13 16:18] verybadsoldier opened #51 "ReCaptcha problem"
Since today I get a ReCaptcha error. This does not appear when I open the URL in Chrome Browser. I know I can configure 3rd party recaptcha solvers but they seem to need registration. Also as I understand the documentation, captchas should not appear in normal use.

Test program:
[code]

Gives me this:
https://pastebin.com/E9kYuqKm

My python packages:
[code]

Thanks alot!

[2019-06-13 23:46] Krylanc3lo commented on #51
Same issue on my side.
As usual, I can help with the tests ^^

[2019-06-14 05:17] VeNoMouS commented on #51
Sorry Only saw this been away... interesting... I'll look into this shortly i too am hit with reCaptcha.

[2019-06-14 05:38] VeNoMouS commented on #51
OK so initial checks are showing that it is NOT the challenge solve...

![image](https://user-images.githubusercontent.com/597545/59485734-067ef680-8ecb-11e9-91b9-1ba80c2a27f8.png)

^^ my browser solving...

![image](https://user-images.githubusercontent.com/597545/59485748-1a2a5d00-8ecb-11e9-8ecc-3eef3206fc7e.png)

^^ cloudscraper solving the same challenge request....

Next is to look at User-Ag

[2019-06-14 05:47] VeNoMouS commented on #51
Ok... i skipped user-agents... and stripped it back to just 1 known good cipher.. which is working... now to workout which is the bad cipher ...

[2019-06-14 05:51] VeNoMouS commented on #51
Problem cipher is __ECDHE-RSA-AES256-GCM-SHA384__ , I will push a fix shortly.

[2019-06-14 06:37] VeNoMouS commented on #51
1.118 (bab6c267b16435dffd126fa690c1e606bdc41d8d) in dev branch for you guys to test @Krylanc3lo , @verybadsoldier

[2019-06-14 08:26] VeNoMouS commented on #51
Ok ... i've released __1.1.18__

[2019-06-14 09:01] #48 closed

[2019-06-14 10:53] Krylanc3lo commented on #51
Thanks a lot! it is working perfectly on my end now ^^

[2019-06-14 14:27] devgianlu commented on #51
Did they break their own protection? I'm getting this on the console when visiting http://x1337x.se/:
[code]

[2019-06-14 14:38] verybadsoldier commented on #51
Working for me too here! Thanks alot!

[2019-06-14 21:27] VeNoMouS commented on #51
most likely due to here

[code]

[2019-06-14 22:21] #51 closed

[2019-06-20 02:36] Krylanc3lo opened #52 "reCaptcha error"
Hello,

I started to receive the below error message few hours ago, is it something you went through lately ?

`
RuntimeError: Cloudflare reCaptcha detected, unfortunately you haven't loaded an anti reCaptcha provider correctly via the 'recaptcha' parameter.
`

here is an example of url: https://c.japscan.to/lel/Kingdom/603/06.jpg

Let me know if I can help for debugging/testing

[2019-06-20 03:03] VeNoMouS commented on #52
The great cat and mouse game with cloudflare continues...

![image](https://user-images.githubusercontent.com/597545/59815417-9d84fc00-936c-11e9-9732-76df10c0b986.png)

they appear to have flagged __ECDHE-ECDSA-AES256-GCM-SHA384__ cipher, I'll push a fix.

[2019-06-20 03:17] VeNoMouS commented on #52
8e96e4761634b211c096a528f96044e5931c14c9 should resolve your issue.

[2019-06-20 03:21] Krylanc3lo commented on #52
working like a charm. as always: **thank you!**

[2019-06-20 03:21] #52 closed

[2019-06-25 18:39] EVILPINGUU opened #53 "Status code = 403"
Hello im getting error 403 on this website, nakedcph.com. I set all cookies and headers correctly, but im still getting 403 error. Cloudscraper version = 1.19.
Thanks for help.

[2019-06-25 18:56] HawkLiking opened #54 "reCaptcha: cat and mouse game"
Hi @VeNoMouS :)

Since today, 16:30 PM (UTC), I have the error :
`Cloudflare reCaptcha detected, unfortunately you haven't loaded an anti reCaptcha provider correctly via the 'recaptcha' parameter.`

For example in https://pro-src.com/ and http://japscan.to/

Cat and mouse game, I guess :P

Thank you !

[2019-06-25 19:29] HawkLiking opened #55 "anti-captcha infinite loop when cloudflare has marked cipher invalid"
Hi, me again :P

So I was trying to use anti-captcha.com with cloudscraper, but I have an issue

When I run my python script, it never exit, I have to stop it with CTRL+C. And the problem is that it seems that anti-captcha.com resolved the captcha, but the script is trying again and again...
Here you can see that it is resolved, and all the captcha after this one were created in the same run (so t

[2019-06-25 19:30] HawkLiking commented on #55
But maybe it is related to this issue https://github.com/VeNoMouS/cloudscraper/issues/54 !!!

[2019-06-25 19:38] HawkLiking opened #56 "recaptcha parameter does not work with get_tokens()"
Hi !

Me agaiiin :))

I was trying to use recaptcha, and trying to get tokens with get_tokens() method

Before, my script was
[code]

and it worked fines

As cloudflare may set a recpatcha challenge, I was trying to add recpatcha to get tokens, so I did this:

[code]
but I have this error:
`request() got an unexpected keyword argument 'recaptcha'`

So I tried
[code]

But the error was:
`Cloudflare

[2019-06-25 19:42] HawkLiking commented on #55
If you need an anti-captcha API key, I can give you one @VeNoMouS :)

[2019-06-26 02:05] VeNoMouS commented on #56
LOL... are you taking the piss? i dont trust the url your attempting to you ;P pretty sure he has forced reCaptcha on

[2019-06-26 02:09] VeNoMouS commented on #56
Re ` request() got an unexpected keyword argument 'recaptcha'` what version is your cloudscraper?

[2019-06-26 02:26] VeNoMouS commented on #53
Sorry about the delay, i only just saw the tickets... CF is marking __ECDHE-RSA-AES128-GCM-SHA256__ as bad cipher will push fix for you now.

[2019-06-26 02:33] VeNoMouS commented on #54
LOL, glad you saw that cat & mouse reference on 1.1.19 ;P

[2019-06-26 02:33] VeNoMouS commented on #54
Sorry about the delay, i only just saw the tickets... CF is marking ECDHE-RSA-AES128-GCM-SHA256 as bad cipher will push fix for you now.

[2019-06-26 02:37] VeNoMouS commented on #55
This is def a bug ... but its a weird bug, its caused by the cipher being used.. I will def address this , but i cant for a couple days ... due to well... LIFE ;P the 1.1.20 push I'm sending through now should solve the reCaptcha 403 issue in the mean time, I'm sorry I cant resolve this loop for you straight away, but I have marked it as a bug and will address as fast as i can

[2019-06-26 02:42] VeNoMouS commented on #53
@EVILPINGUU version 1.1.20 has been released (cdb767cf87f7091100627e9f9157) on github and pip, and should resolve this issue for you, least it does for me, if this is still an issue please open the ticket again.

- VeN

[2019-06-26 02:42] #53 closed

[2019-06-26 02:43] VeNoMouS commented on #54
Refer #53

[2019-06-26 02:43] #54 closed

[2019-06-26 02:44] VeNoMouS commented on #56
Def an issue, I'll get it addressed as soon as possible @HawkLiking , thanks for raising it mate... send me an email i'll get you on my discord with the other testers.

[2019-06-26 03:17] VeNoMouS commented on #56
recaptcha option has been added to v1.1.21 (0610a1ed4a1e4ef3b4364c959262c6a8e1aa2efb) which is currently sitting in dev branch

[code]

[2019-06-26 17:28] HawkLiking commented on #54
Thank you :)

[2019-06-27 05:17] VeNoMouS commented on #56
In production for you.

[2019-06-27 05:17] #56 closed

[2019-06-27 19:29] HawkLiking commented on #56
Thank you !!

[2019-07-04 11:01] johnnyollo opened #57 "captcha triggered by bad ciphers"
i always trigger captcha on https://www.sneakersnstuff.com/ and a couple of other sites even i solve them with 2captcha

[2019-07-04 12:38] VeNoMouS commented on #57
CF triggering reCaptcha on cipher `ECDHE-RSA-AES128-SHA256` , pushing update now.

[2019-07-04 12:42] VeNoMouS commented on #57
1.1.25 Released...

Seems every 6-8 days CF randomly mark / target ciphers even though they are valid ciphers...

[2019-07-04 12:45] VeNoMouS commented on #57
And re 2captcha... yea when there's a cipher they mark / target... solving reCaptcha won't matter, as it will just constantly trigger the reCaptcha, I need to work out a way when this is occuring.

[2019-07-04 13:57] johnnyollo commented on #57
Thank you, I'll let you know if some other cipher will trigger captchas.
If i have to fix it quickly can I just remove the marked cipher right?

[2019-07-04 14:30] 102flex commented on #57
@johnnyollo hey, I have the same problem. How did you fixed it? I just have the problem on sneakersnstuff.

``import cloudscraper

scraper = cloudscraper.create_scraper()
response = scraper.get("https://www.sneakersnstuff.com/de/")
print(response.status_code)``

Output:
``403``

[2019-07-04 21:39] VeNoMouS commented on #57
sneakersnstuff implemented a reCaptcha on their frontpage , outside of cloudflare, solve the challenge.

![image](https://user-images.githubusercontent.com/597545/60688262-33da2580-9f08-11e9-9fc0-0fa14c39e9fd.png)

The reason this library didn't do it for you as well.. is because the src URL is different

[code]

What you need to do is still use the library to bypass cloudflare, but then solve the

[2019-07-04 21:46] VeNoMouS commented on #57
HRRM.... actually...

I could adapt my code to perhaps help out with this...

Rather than statically send to

[code]

I could read the src URL from what ever has sitekey....

Let me do some testing boys...

[2019-07-04 21:48] VeNoMouS commented on #57
Wait...  what am i Saying.. that should solve it as is... (sorry guys ive only just woken up , like seriously just rolled outta bed) ;P

[2019-07-04 22:04] VeNoMouS commented on #57
Ok... @102flex found the issue, version 1.1.26 is currently on __dev__ branch , if you have 3rd party reCaptcha solver loaded now (https://github.com/VeNoMouS/cloudscraper#3rd-party-recaptcha-solvers)... it will solve it for you.

[2019-07-04 22:43] 102flex commented on #57
2captcha support would be very cool!

You have any link to tip you an coffee?
Thank you

[2019-07-04 23:55] VeNoMouS commented on #57
<a href="https://buymeacoff.ee/venomous" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: 41px !important;width: 174px !important;box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;" ></a>

[2019-07-05 07:34] johnnyollo commented on #57
Yeah many sites host the cf recaptcha challenge on their sites,
I already use 2captcha with no problem, but I think someone else would appreciate it.
Enjoy your coffee.

[2019-07-05 08:47] VeNoMouS commented on #57
feel the love boys :)

[2019-07-07 00:10] Krylanc3lo opened #58 "Error "AttributeError: module 'ssl' has no attribute 'PROTOCOL_TLS'""
Hello,

Since the last update (1.26), I receive this error message on Japscan website:

[code]

Do you know what could cause it ?
It is weird as it seems I do not have this error on some computers.

Thank you!

[2019-07-07 01:37] Krylanc3lo commented on #58
Downgrading to 1.1.20 helped on the server I was facing the issue

[2019-07-07 11:22] johnnyollo opened #59 "Give users the ability to read requests content when reCaptcha detected with out 3rd party solver loaded."
I need the recaptcha html page, can you remove the "RuntimeError: Cloudflare reCaptcha detected, unfortunately you haven't loaded an anti reCaptcha provider correctly via the 'recaptcha' parameter." ?

[2019-07-07 19:38] VeNoMouS commented on #59
rgr i'll see what i can do for you

[2019-07-07 19:45] VeNoMouS commented on #58
What version is your python, PROTOCOL_TLS should be defiened in __ssl.py__

@Krylanc3lo all the ciphers used atm are TLS 1.2 / 1.3...

![image](https://user-images.githubusercontent.com/597545/60773095-434dae80-a154-11e9-9542-95c7e958449f.png)

I'll add a bandaid in for the older versions, I did have one in place earlier but i removed it because... well it shouldnt be required if your keeping your

[2019-07-07 21:37] VeNoMouS commented on #57
3rd party reCaptcha __2captcha__ support added in __Release 1.1.27__

[2019-07-07 21:37] #57 closed

[2019-07-07 22:07] Krylanc3lo commented on #58
I am so lucky! thanks man ;)
You are right (as usual) about python version. I used 3.5 -> I updated to 3.7 and it is working well ;)

[2019-07-07 22:09] VeNoMouS commented on #58
__Release 1.1.28__ b3ccc0a13d5e258ce2dac564800c4007b9c1681d will address this issue for you.

[2019-07-07 22:09] #58 closed

[2019-07-07 22:33] Krylanc3lo commented on #58
Everything working as a charm!

[2019-07-07 23:04] VeNoMouS commented on #59
__Release 1.1.29__ should sort you out refer to https://github.com/VeNoMouS/cloudscraper#return_response

[2019-07-08 00:17] #59 closed

[2019-07-08 14:44] xzilesnrks opened #60 "Anticap issue"
Hi, i got this error when i tried with anticap:
 from python_anticaptcha import AnticaptchaClient, NoCaptchaTaskProxylessTask, NoCaptchaTask, Proxy
ImportError: cannot import name 'Proxy'

[2019-07-08 17:07] johnnyollo commented on #57
captcha is triggered by bad ciphers again

[2019-07-08 22:57] VeNoMouS commented on #60
The author of `python_anticaptcha` has made some changes, I have fixed your issue and am also using his new features, please upgrade cloudscraper to __Release 1.1.30__ to resolve your issue :)

[2019-07-08 22:57] #60 closed

[2019-07-08 23:02] Krylanc3lo opened #61 "recaptcha error"
Hello,

New day, new issue :)

I have the below error message, is it related to one of the issues you are working on ? If so, sorry for the duplicate

[code]

Thank you!

[2019-07-08 23:22] VeNoMouS commented on #61
Confirmed, Cloudflare marked another cipher __DHE-RSA-AES256-GCM-SHA384__ it has been removed in __Release 1.1.31__ (15ff21289178049714b3d54212632f08291d68cd) for you

[2019-07-08 23:22] #61 closed

[2019-07-08 23:41] Krylanc3lo commented on #61
thanks!

[2019-07-12 20:38] simonetoscano opened #62 "Can't find browsers.json if builded with pyarmor"
Hi, I keep getting this error every time I try to execute my exe builded with pyarmor.

`[Errno 2] No such file or directory: '/var/folders/81/zgg3srks7_l0ytf4ljkhdkg80000gn/T/_MEIIci0I7/cloudscraper/user_agent/browsers.json'`

[2019-07-12 22:05] VeNoMouS commented on #62
Is the json file actually bundled in your container?

[2019-07-12 22:07] VeNoMouS commented on #62
Can you please supply your full cmd line your using to obfuscate the package with please.

[2019-07-12 22:11] simonetoscano commented on #62
Nope, the json is not in my folder because I didn't think it was necessary. Everything works fine when I try to run the script **without** building it with pyarmor. But as I need to protect my script, I must build it with pyarmor.

Here are the commands I use to obfuscate my script:

`pyarmor obfuscate main.py`
`pyarmor init --src=. --entry=main.py .`
`pyarmor build`
`cd dist`
`pyinstaller main.sp

[2019-07-12 22:34] VeNoMouS commented on #62
You need __browsers.json__ in your package, it needs to be in the same dir as what the __init__.py is from the __user-agent__ directory https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/user_agent/__init__.py#L25

[2019-07-12 22:35] VeNoMouS commented on #62
I am closing this and marking it as invalid as it not an issue of the code.

[2019-07-12 22:35] #62 closed

[2019-07-12 22:54] simonetoscano commented on #62
I believe I expressed myself wrongly: of course I have **browser.json** in the same dir as what the `__init__.py` is (that's because I've installed your library through `pip install cloudscraper`) so everything works fine while I compile my script **without** pyarmor

But as I said, the **error occurs only** when I try to execute the exe builded with pyarmor.

[2019-07-12 22:57] VeNoMouS commented on #62
Did you check exe build that the json is packaged with it? I don't understand how you think its my code that's the issue, https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/user_agent/__init__.py#L25 clearly opens the __browser.json__ as the same dir that the original code is designed to do, your re-packaging it and its failing because your not including the file... how is that the

[2019-07-12 23:08] 102flex commented on #62
Dont open issues like that. This is clearly not the problem off the code.

[2019-07-12 23:14] VeNoMouS commented on #62
FWIW if your using pyexe, it does now play well with `os.path.dirname(__file__)` ...

you could try do

[code]

[2019-07-12 23:38] simonetoscano commented on #62
@VeNoMouS thanks! appreciate it man, that's initially what I needed. but I'm still receiving an error:

An exception occured: 'ModuleNotFoundError' object has no attribute 'message'

[2019-07-12 23:43] VeNoMouS commented on #62
most like you'll need to find a work around for https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/interpreters/__init__.py#L29 ... good luck with that.

I have __no plains at this time__ to adapt my code to work with py2exe, it was never designed to be run with it.

[2019-07-12 23:48] simonetoscano commented on #62
Thanks for your infos and sorry for wasting your time, have a nice day!

[2019-07-12 23:49] VeNoMouS commented on #62
A question isn't a waste of time, what your doing is just out of scope of what the project was originally designed to be run under.

[2019-07-12 23:51] VeNoMouS commented on #62
When I'm not so busy I might circle back around and look at it for you

[2019-07-12 23:54] simonetoscano commented on #62
I'll be grateful!

[2019-07-13 10:16] WASHEDDEVELOPEUR opened #63 "reCaptcha error, has CF marked a new cipher?"
I've starting getting the common exception:
`RuntimeError: Cloudflare reCaptcha detected, unfortunately you haven't loaded an anti reCaptcha provider correctly via the 'recaptcha' parameter.
`
a few hours ago.

I'm getting this on my local IP which is unflagged and working without any captcha's on browser. I get the same on proxies.

[2019-07-13 10:41] WASHEDDEVELOPEUR commented on #63
Actually, I managed to get the captcha to pop up on the browser as well but all I need is refreshing the page to get rid of it. But making two requests with the same session does not work on py, I still get captcha

[2019-07-13 13:44] VeNoMouS commented on #63
Hi @WASHEDDEVELOPEUR ,

Are you running the latest version?
[code]

also can you please supply some example code && url your trying to access when getting the problem.

[2019-07-13 16:21] WASHEDDEVELOPEUR commented on #63
![image](https://user-images.githubusercontent.com/11145252/61173942-23761a80-a59a-11e9-8d5d-3c9dcff2a931.png)

`import cloudscraper
s = cloudscraper.create_scraper()
s.interpreter = "nodejs"

headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36',
    'referer': 'https://www.sneakersnstuff.com/',
}

respo

[2019-07-13 22:24] VeNoMouS commented on #63
Why are you using custom headers? thats more than likely 100% your issue..

[2019-07-14 08:34] WASHEDDEVELOPEUR commented on #63
Yes, that's the first thing i tried. When I said "I've tried different headers" that included not using custom ones too . I'm still experiencing the same issue

[2019-07-14 08:36] VeNoMouS commented on #63
Just you didn't mention "I've tried different headers" fwiw

[2019-07-14 08:38] VeNoMouS commented on #63
Can you please add __debug=True__ to your scraper

[code]

[code]

[2019-07-14 08:53] WASHEDDEVELOPEUR commented on #63
By the way I was using the referer header as I noticed I was given captcha's only when accessing the site directly on a fresh incognito tab. If you look up the site on google and access it from there there's no captcha (or you can just refresh the captcha page).

[code]

This is my debug output, let me know if you need the html page as well. Btw thank you for the help and your prompt replies.

[2019-07-14 09:08] VeNoMouS commented on #63
Can you also supply your ssl version with your python please

[code]

[2019-07-14 09:59] WASHEDDEVELOPEUR commented on #63
OpenSSL 1.0.2k  26 Jan 2017

[2019-07-14 10:26] VeNoMouS commented on #63
wow... super old..

Could you please run, and let me how many ciphers you get back

[code]

[2019-07-14 10:28] WASHEDDEVELOPEUR commented on #63
8 matching ciphers

[2019-07-14 11:47] VeNoMouS commented on #63
@WASHEDDEVELOPEUR are you free tomorrow to talk on discord rather than on here? so we I can work out what/where your issue is?

[2019-07-14 12:12] WASHEDDEVELOPEUR commented on #63
absolutely

[2019-07-29 11:47] karma007 opened #64 "_openssl.abi3.so: undefined symbol: OBJ_cleanup"
Hello, I have install cloudscraper (virtualenv with python 3.7.4) and I have this error :
[code]
thanks

[2019-07-29 21:34] VeNoMouS commented on #64
That is not a cloudscraper issue that appears to be a cryptography package issue...

[code]

have yout ried reinstalling and/or upgrading cryptography?
`pip3 install -U cryptography`

[2019-07-29 22:47] karma007 commented on #64
hello I have uninstalled and reinstalled cryptography -> same error
I have tested import OpenSSL -> same error
any clue to install the good version of OpenSSL ?
thanks

[2019-07-29 23:08] VeNoMouS commented on #64
FWIW have you tried `pip3 install -U pyOpenSSL`

[2019-07-29 23:21] karma007 commented on #64
it was installed. I have reinstalled it. same problem.
I am using virtualenv
as I had an SSL error on flexget Intried this to fix it : https://help.dreamhost.com/hc/en-us/articles/115000702772-Installing-a-custom-version-of-Python-3
with a custom install of openssl. I don’t know how to do a clean install now
thanks

[2019-07-29 23:25] VeNoMouS commented on #64
Yea sorry, I think you'll have to resolve this yourself as its outside the scope of this project I'm afraid.

[2019-07-29 23:26] VeNoMouS commented on #64
You're running linux anyway, so you should have python installed default so don't understand why you using flexiget packaged version...

[2019-07-29 23:27] karma007 commented on #64
i’ m using raspbian jessie
not so easy to install python 3.x

[2019-07-29 23:27] VeNoMouS commented on #64
`apt-get install python3`

[2019-07-29 23:31] VeNoMouS commented on #64
Anyway, best of luck mate, but I just don't have the time atm as I'm doing my day job, and as I stated earlier it falls outside the scope of this project

[2019-07-29 23:31] #64 closed

[2019-07-29 23:32] karma007 commented on #64
thanks a lot

[2019-08-09 22:23] Krylanc3lo opened #65 "RuntimeError: Cloudflare reCaptcha detected"
Hello,

I got a new error :  "RuntimeError: Cloudflare reCaptcha detected, unfortunately you haven't loaded an anti reCaptcha provider correctly via the 'recaptcha' parameter."

is it due to a new Cipher ?

Thank you,
Kry

[2019-08-09 22:27] Krylanc3lo commented on #65
Nevermind, most likely a one time issue :)

[2019-08-09 22:27] #65 closed

[2019-08-10 11:07] lilyoungbug opened #66 "Man or Machine"
Like yesterday it was working like a charm, bypassing Man or Machine page and sending error on Cloudflare captcha. Now both. Please fix!

[2019-08-10 17:19] dontshareyourname8 commented on #66
For first you should know how bypass cloudflare AntiBot as you're a bot dev, second thing, close your ticket and bring respect to VeNoMouS.

[2019-08-10 21:44] lilyoungbug commented on #66
fixed, sorry 😅

[2019-08-10 21:44] #66 closed

[2019-08-11 08:33] mass828 opened #67 "Cloudflare reCaptcha detected"
It seems something changed, the module isn't working good anymore.

[2019-08-11 10:55] VeNoMouS commented on #67
Sorry I'm currently on holiday overseas, however some of the other users of cloudscraper have been in contact with me, and the problem hasnt't really been a cloudflare issue, from what people have been complaining its mostly sneaker related sites .. owned by some company in particular ... anyway I had a dev version i had sitting around for ~2 weeks that fixes the issue... have pushed this version.

[2019-08-11 11:07] mass828 commented on #67
Yeah it works like a charm, many thanks! Enjoy your holidays. :)

[2019-08-11 11:07] #67 closed

[2019-08-11 11:11] VeNoMouS commented on #67
cheers, cause the latency is an epic bitch to my boxes back home, i'm on other side of the planet atm ;P

[2019-08-18 09:22] kasi45 opened #68 "cloudscraper and 'https://filmstreaming-de.life/'"
Hi,
I test "clodscraper" in IDE pycharm with a simple script.

[code]
The results from some websites are successful, but not from  'https://filmstreaming-de.life/'

Can you offer a solution for this problem?

Thank you!

[2019-08-18 09:33] VeNoMouS commented on #68
It doens't look real ... what i mean is.. it doesn't look like its behind CF from the HTML

[code]

[2019-08-18 09:35] VeNoMouS commented on #68
Yea... 100% fake.

[2019-08-18 09:39] devgianlu opened #69 "Use tags when creating new releases"
I'd like to receive updates when a new release is out so that I can update my version of the script manually, but at the same time I don't want to receive updates for every issue. Could you create new tags/releases for each version to keep track of the changes? This way I can use "watch releases" and don't get notified for every commit or issue.

Thank you.

[2019-08-18 10:11] #68 closed

[2019-08-18 17:20] noembryo opened #70 "No module named js2py"
This is a really strange problem..
I was using cloudscrape in an RSS feed reader ([Feedani](http://www.noembryo.com/apps.php?feedani)), and the last compiling (with PyInstaller) was done in May 16.
After that I had some holidays and when I returned I updated the lib to the 1.1.40 version.
I re-compiled the app, but now, if a url is CloudFlare blocked, I get this error:
[code]
When I run the code f

[2019-08-19 05:00] VeNoMouS commented on #69
Yea fair call

[2019-08-19 23:13] #69 closed

[2019-08-21 21:29] Hecate2 opened #71 "Need an API which turns body and domain into url"
Would you please add a function which allows me to input the response body (the HTML of 'checking yor browser…') and domain, to obtain the url (containing jschl _answer) I shall GET?
It's not easy to derive such a function from the source code of cloudscraper. The function will enable asyncronous spiders to work fluently!

[2019-08-21 21:44] VeNoMouS commented on #71
kinda of defaults the purpose of the library but you could try call something like...

[code]

[2019-08-21 21:50] VeNoMouS commented on #71
Would it not be easier to call __get_cookie_string()__ or __get_tokens()__? https://github.com/VeNoMouS/cloudscraper#integration-examples

[2019-08-24 09:46] j0el99 opened #72 "ERROR:root:Unable to load nodejs interpreter"
I am getting this error when running the latest version of Cloudscraper to scrape a CF protected page. The page is : hdfilme.cc and they use the normal 5 seconds waiting page by CF. I also tried with other sites, but still the same error.
I installed NodeJS (version 10.9.0) on my machine like required and the following is a code-snippet, I use, where that error gets thrown.
self.scraper=cloudscrap

[2019-08-24 10:55] VeNoMouS commented on #72
https://pyinstaller.readthedocs.io/en/stable/when-things-go-wrong.html#listing-hidden-imports

https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/interpreters/__init__.py#L29

[2019-08-24 11:01] VeNoMouS commented on #72
You could also... (not saying it would work...)
replace

[code]
With something like.. (untested)

[code]

[2019-08-24 11:04] VeNoMouS commented on #72
Also... __NOTHING__ has changed at all in regards to dynamic interpreter loading in 3+ months...

[2019-08-24 11:15] j0el99 commented on #72
Okay appreciate your answers, very weird it suddenly started giving errors. I tried checking if it was packed by unpacking the exe and seems that the nodejs interpreter was missing in the PYZ created by PyInstaller.
Thanks a lot for your disponibility, I will look to try with hidden imports now. Best wishes and have a good weekend!

[2019-08-24 11:16] VeNoMouS commented on #72
you too mate :)

[2019-08-24 11:17] VeNoMouS commented on #72
#70 , @noembryo

[2019-08-24 11:17] VeNoMouS commented on #70
Refer #72 please.

[2019-08-24 11:17] #70 closed

[2019-08-24 11:17] j0el99 commented on #72
Right have seen the #70 issue just now! Thanks and sorry for eventually wasting your time with some stuff you already answered previously. :))

[2019-08-24 11:18] #72 closed

[2019-08-24 11:18] VeNoMouS commented on #72
A question is never wasted time mate, at least you reached out and tried to fix it, and it'll help with people in the future asking the same thing.

[2019-08-24 11:21] VeNoMouS commented on #72
Honestly in encourage people to ask questions, its how you learn and grow.

[2019-08-24 11:23] j0el99 commented on #72
Definitely right with that! I am glad that this can contribute the community and really respect all the effort and patience you put in to mantain this huge project... Really appreciate it all

[2019-08-24 11:24] VeNoMouS commented on #72
Cheers man :)

[2019-08-24 12:09] noembryo commented on #72
Tried with the `interpreters` folder manually added with no luck.
Hidden imports didn't help either...

I might be missing for some days due to holidays, so best of luck with this ;o)
I'll check it again when I'm back with a PC.

Thanks for your time..

[2019-08-24 15:25] Hecate2 commented on #71
It works ! Thank you very much!

[2019-08-24 21:39] dheerajbred opened #73 "How to use without Node.js?"
This is not an issue. Just a question.

I want to this in my mobile app. Is it possible to use without Node.js? Like using any python only library or flask?

[2019-08-24 22:41] VeNoMouS commented on #73
use js2py as per the default.

https://github.com/VeNoMouS/cloudscraper#javascript-interpreters

[2019-08-24 22:42] #73 closed

[2019-08-25 01:45] VeNoMouS commented on #72
I had a play... (i dont use pyinstaller)

However the following worked fine for me...
[code]

[code]

[code]

[2019-08-25 01:47] VeNoMouS commented on #72
At the end of the day, the problem is __pyinstaller__ not including files from the module... it is not __cloudscraper__, frankly, pyinstaller is pretty flawed in its analysis.... it would have also missed out the user agents json file as well.... shitty packager imho ;P

[2019-08-25 10:31] j0el99 commented on #72
Hey. Thanks for your latest comments. I tried to do the same now. Didn't work with hidden imports and so on but worked fine by just appending the data to archive. I copied the requests and cloudscraper folder into my script directory, created the main.spec with pyi-spec and edited the data section to the following ```datas=[('cloudscraper/', 'cloudscraper'), ('requests/', 'requests')],``` includin

[2019-09-08 07:35] hack4money opened #74 "unexpected keyword argument 'proxies'"
print scraper.get_tokens("https://apkcombo.com//zh-cn/home-design-makeover/in.loop.hdmakeover/download/apk",proxies=proxies)
  File "/Library/Python/2.7/site-packages/cloudscraper/__init__.py", line 256, in get_tokens
    scraper = cls.create_scraper(**kwargs)
  File "/Library/Python/2.7/site-packages/cloudscraper/__init__.py", line 240, in create_scraper
    scraper = cls(**kwargs)
  File "/Libra

[2019-09-08 22:24] VeNoMouS commented on #74
Sorry, was an oversight...

Release 1.1.42 in commit 6f99decf6fd56476b873a3e258d77663f3d812d2 should resolve this issue for you.

[2019-09-08 22:26] #74 closed

[2019-09-11 14:45] hobocow opened #75 "Works great on websites protected by cloudlflare but if I try to run multiple threads, errors occur"
Hi Venomous,

I'm trying to make requests to a website protected by cloudflare, my python code works fine with cloudscraper and I can access the website.

But if I try to make multiple requests at the same time with the threading module, 50%-80% of the threads would get :

### ERROR:root:Error executing Cloudflare IUAM Javascript. Cloudflare may have changed their technique, or there may be a bug

[2019-09-11 15:03] hobocow commented on #75
Hi,

### Changing the java interpreter to `interpreter='nodejs'` did the trick for me !!

Though I have another question, what will happen if the website is under heavy load and laggy and the delay is the default one ? (5s)

I'm afraid it will decrease the performance of my threads in the case where the website isn't under heavy load and I increase the delay.

Thanks

[2019-09-11 21:36] VeNoMouS commented on #75
a) the "delay" you refer to is nothing to do with the site... it is for cloudflare to allow for data population inside their systems off their cdn nodes so when you issue an answer it can be validated centrally.
b) if your worried about the "delay"... simply issue overwrite and increase the delay with the following

[code]

__or__

[code]

[2019-09-11 21:46] #75 closed

[2019-09-11 21:52] hobocow commented on #75
Hi,

Thank you for the clarification but damn you talk like such a jerk.

Have a good day sir

Le mer. 11 sept. 2019 à 23:36, VeNoMouS <notifications@github.com> a écrit :

[2019-09-11 22:05] VeNoMouS commented on #75
@hobocow,

even though you deleted your comment im replying to your view that you think I'm "a jerk" for my response...

Well your entitled to think that, but I gave you a direct answer, and gave you insight how to improve your code and how to get around challenge delay on each request by loading stored session..

so if you think i'm "a jerk" ... all good... you're more than welcome to not use the

[2019-09-17 22:36] Krylanc3lo opened #76 "CF error"
Hello,

It seems that I am not able to go through CF on some of my servers. here is the debug message:

[code]

and the distrib:
[code]

Do you have an idea ?

Thank you!

[2019-09-18 06:11] sraedler commented on #76
I think anything on CF side changed because I do not have any access to any site. See https://pro-src.com/ for example

[2019-09-18 07:12] VeNoMouS commented on #76
@Krylanc3lo a couple things aren't making sense....

* On your initial request your're presenting a CFUIDon the get... where did that come from...
* You will only be presented a 503 when the CFUID is invalid and/or not present.

talk on discord in channel... because i'm testing that site under a ubuntu box (samme version) and I can't replicate the fault you're see'ing

[2019-09-18 08:58] Fran008 commented on #76
I don't know if it's related... but I am accessing to a web via Armbian and it works. I mean cf_clearance OK, and web displaying correctly

Then I use exactly the same python program in Debian... and it goes wrong, saying:

ERROR:root:"http://webaccessed.com" returned an error. Could not collect tokens.

[2019-09-18 09:00] Fran008 commented on #76
There are other pages that work OK in Armbian and OK in Debian, for example http://thebot.net

But with the other one I am testing, it's showing that difference.

[2019-09-18 09:37] VeNoMouS commented on #76
@fran008 i cant resolve webaccessed.com...

[2019-09-18 09:43] Fran008 commented on #76
It's not the web I can't access. The web is http://arenavision.cc

But I have discovered that in one machine I receive error 403 Forbidden and in the other one I receive 503 Service Temporarily Unavailable, being this last the one which cloudflare is going ok with.

My apologies because I suppose it has nothing to do with the problem related here, sorry. Surely the page http://arenavision.cc is bl

[2019-09-18 10:05] VeNoMouS commented on #76
[code]

@Fran008 can you please give me details, such as python version, cloudscraper version etc...

[2019-09-18 10:16] Fran008 commented on #76
I will try in a few hours. If the problem persists, I will send you more data. Else it will be just an IP temporary problem.

Thank you! You always answer in no time and with excellent information.

[2019-09-18 11:31] Krylanc3lo commented on #76
Hey,

Indeed, always helping so much, thanks again!

I am using python3. Here is the full debug

[code]

[2019-09-18 12:20] Fran008 opened #77 "Problem getting cookies"
I have this problem:

When I do this

[code]

I get this correct output message:

`{'__cfduid': 'db525e1fd170d9f44a8006f18e58688701568808549'}`

But when I do this, in the same python program:

`cookie_value, user_agent = cloudscraper.get_cookie_string("http://arenavision.cc")`

I get this error message

`ERROR:root:"http://arenavision.cc" returned an error. Could not collect tokens.`

More things

[2019-09-18 18:25] Fran008 commented on #76
Here is my log:

[code]

[2019-09-18 23:37] VeNoMouS commented on #77
Can you please show user-agent, also what python version are you using? 3.5,3.6,3.7 etc??

[2019-09-19 01:47] VeNoMouS commented on #77
I don't think you are showing me the full error, are you sure that the error isnt more along the lines of reCaptcha...

[2019-09-19 04:04] VeNoMouS commented on #71
Sorry I know you guys haven't much more on this since i posted an ad-hoc solution, I am implementing a solution for you in 1.1.43

[2019-09-19 09:28] Fran008 commented on #77
Ok, I have detected a little better the error, and I am now pretty sure that is a bug:

[code]

This code goes OK, with python and with python3, and the final page beyond cloudflare displays correctly.

But this other code goes wrong:

[code]

So the bug is finally in the get_cookie_string function, which is not getting the recaptcha provider given in the scraper instance. I know that I call 'clou

[2019-09-19 09:42] VeNoMouS commented on #77
Ok i'll look that tomorrow if you don't mind, as its almost 10pm here and i only just got home

[2019-09-19 23:36] VeNoMouS commented on #76
Cloudflare triggering reCapthca or addtional addtional challenge requests on the cipher AES256-SHA on Ubuntu 16.04, other OS's seem fine with the cipher...

[2019-09-19 23:36] #76 closed

[2019-09-19 23:57] VeNoMouS commented on #77
@Fran008 , if you are encountering a reCaptcha via

[code]

you need to pass reCaptcha params...

for example..
[code]

Also check that the reCaptcha isn't releated to 1.1.43, as there was an issue under ubuntu calling reCaptcha &| addtional challenges to trigger

But... ultimately if you are triggering reCaptcha due to whatever reason, you will need to solve the captcha.

[2019-09-20 00:28] VeNoMouS commented on #77
@Fran008

Heres a logic flow if you wanna learn whats going on..

![image](https://user-images.githubusercontent.com/597545/65290146-1e3cd980-dba2-11e9-91c5-41a4c0faff94.png)

[2019-09-20 06:34] Fran008 commented on #77
Thank you for the explanations. Do I have to update? With the same version, not updating, I got this error message --because it does not recognize the parameter 'recaptcha' in get_cookie_string:

bycaptcha', 'username': 'myusername', 'password': 'mypassword'})
ERROR:root:"http://arenavision.cc" returned an error. Could not collect tokens.
Traceback (most recent call last):
  File "<stdin>", line 1

[2019-09-20 06:59] VeNoMouS commented on #77
Let me look into that mate 👀

[2019-09-20 07:02] VeNoMouS commented on #77
Uhhh....

[code]

[2019-09-20 07:05] VeNoMouS commented on #77
Can you please

[code]

and show me? thanx...

[2019-09-20 08:22] Fran008 commented on #77
[code]

[2019-09-20 08:23] Fran008 commented on #77
Look at the last line, including version. I'll make the test with python2 too --see next comment

[2019-09-20 08:25] Fran008 commented on #77
[code]

[2019-09-20 08:25] Fran008 commented on #77
And OS version:

[code]

[2019-09-20 09:14] VeNoMouS commented on #77
that is the kernel version... not the "os version"

[2019-09-20 09:16] VeNoMouS commented on #77
Might want to change your password to dbc... as you posted it..

[2019-09-20 09:21] Fran008 commented on #77
Thank you, better keep password safe ;)

[2019-09-20 09:27] VeNoMouS commented on #77
Can you change https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/__init__.py#L258 in /usr/local/lib/python2.7/dist-packages/cloudscraper-1.1.42-py2.7.egg/cloudscraper/__init__.py

to

[code]

[2019-09-20 09:27] Fran008 commented on #77
Sorry... OS version:

[code]

[2019-09-20 09:27] Fran008 commented on #77
Operating System: Debian GNU/Linux 9 (stretch)
            Kernel: Linux 4.9.0-8-amd64
      Architecture: x86-64``

[2019-09-20 09:35] Fran008 commented on #77
Your solution has worked!

Now it goes fine in python2.7 having changed line 258.

Thank you very much!

[2019-09-20 09:37] VeNoMouS commented on #77
ok so something weird with attributes vs keys ... its better to use the way i posted, so i'll make that change public.

[2019-09-20 09:42] noembryo commented on #72
Back from some holidays and trying to make this work using v1.1.43..

Copying the "cloudscraper" and "requests" directories manually (although "requests" were working OK) and adding the "js2py" in `hiddenimports` did not change anything.
Even adding the `js2py` folder didn't do a thing.
The #70 issue still persists.

Checking the differences with you guys, I must also add that I don't use the `one

[2019-09-20 13:57] Fran008 commented on #77
There's a new related issue...

When I do the cloudscrape with the deathbycaptcha provider it always get the tokens... but when I do without provider it RANDOMLY fails, not always. I have made a loop to retrieve the cookies without failing, but it's a workaround a little bit ugly... specially because the web I want to scrape blocks you after some attempts.

I will try to gather more info... but pl

[2019-09-20 14:34] Fran008 commented on #77
It seems that the difference is not because of the provider... it's because of the interpreter: it's working well if in my program I change the line

`scraper = cloudscraper.create_scraper()`

with

`scraper = cloudscraper.create_scraper(interpreter='nodejs')`

[2019-09-20 18:42] Fran008 commented on #77
Mmm... no, it fails sometimes too. And it's randomly. With captcha providers works well.

[2019-09-20 21:10] VeNoMouS commented on #77
Sounds to me like the site is picking up that your being abusive... and slapping reCaptcha on you, and its not a IUAM challenge issue..

you SHOULD NOT be challenge solving on every single request as you will just get yourself detected, and well your evasion techniques are wrong if you're doing that, its like using a hammer to open an egg..

You should be using the same session for your requests,

[2019-09-20 21:21] VeNoMouS commented on #77
kwargs fix pushed in 1.1.44 (e8994348721c373095d5f5409b20218f06408282)

I am closing this issue off

[2019-09-20 21:21] #77 closed

[2019-09-21 04:47] VeNoMouS commented on #77
@Fran008 you do understand what i meant by storing the cookies and re-using rather then constantly solving on every single request?

[2019-09-21 06:50] Fran008 commented on #77
Yes, I do. And knowing that is a great achievement! Thank you for that.

I will get the cookies once a day and store them in my database. Then I will retrieve them everytime I want to access the web. I guess once or twice a day will be enough.

[2019-09-21 08:15] Fran008 commented on #77
Mmm... I have tried to store and retrieve cookies from my database and it seems that it isn't enought to keep a session alive. Silly me.

Is there a way to persist this session in time? Or do I have to persist the session ONLY in each instance of my executions? If the correct answer is the second one, I have adapted all my programs to use the same cookies in each call, so I guess it's what you rec

[2019-09-21 08:56] VeNoMouS commented on #77
Make sure you are using the same User-Agent with the cookies...

[2019-09-21 08:59] VeNoMouS commented on #77
[code]

With an upcoming release I want to do, you can pickle dump the whole session, http adaptor with ssl context and all..

that should make your life alot easier

For the moment till that is released, dump your cookies using like __pickle.dumps__ and load them via __pickle.loads__

[2019-09-21 10:05] VeNoMouS commented on #77
[code]

^^ as an example

[2019-09-21 10:13] Fran008 commented on #77
Great, great, GREAT!!

It's working now storing cookies and user-agent. I just needed the user-agent too. I am making this manually in my database, I won't use pickle by the moment but thank you sooo much for the patience and the info. You're awesome.

[2019-09-21 10:41] VeNoMouS commented on #77
All good man, knowledge should be shared :)

Drop me a line if you got any more queries :)

- VeNoMouS

[2019-09-21 12:44] noembryo commented on #72
Did a little more digging..

The `js2py` module that is missing in the error I get
`ValueError: Unable to parse Cloudflare anti-bots page: No module named js2py Cloudflare may have changed their technique, or there may be a bug in the script.`
is not the system's `js2py` module but the `cloudscraper.interpreters.js2py` one.

That means that perhaps its not a PyInstaller's error but `JavaScriptInte

[2019-09-26 09:38] tarunteckedge opened #78 "Requests fail with too many requests reason"
Hello,

I cam across this repo very recently and it worked fine when I did a POC for myself.

When I actually implemented my research project, I started getting too many failures.

Here's what I'm doing:
I have a list of say 5000 URLs which I need to scrape from a site.
I send requests to those URLs one after another (with a random sleep of 30 seconds to 60 seconds) between two consecutive request

[2019-09-26 09:45] tarunteckedge commented on #78
![2019-09-26_1514_error_screenshot](https://user-images.githubusercontent.com/27818520/65678148-6e1f1300-e070-11e9-9fb5-e0a5c6e62ee8.png)

Please see error-screenshot

[2019-09-26 09:48] VeNoMouS commented on #78
Hi @tarunteckedge this could be in relation to their recent 9th birthday... this will require some investigation and understanding as its... __new__

https://blog.cloudflare.com/cleaning-up-bad-bots/

[2019-09-26 09:50] VeNoMouS commented on #78
Actually this is because the site you're hitting is using __distil networks__ https://www.distilnetworks.com/ ..

have you got a full dump including heads etc... to analyze more rather than just a body, perhaps enable __debug=True__ in your create_scraper()

[2019-09-26 10:26] tarunteckedge commented on #78
![2019-09-26_1553_error_captcha](https://user-images.githubusercontent.com/27818520/65681093-e3411700-e075-11e9-9802-ec934f2b226a.png)

I tried doing the same thing on actual Chrome Browser and was successfully able to reproduce similar behavior.

I opened 20 URLs back to back as fast as possible.

First 12 URLs were opened successfully and successive URLs were blocked showing me this error page (

[2019-09-26 10:27] VeNoMouS commented on #78
it can via 3rd parties..

https://github.com/VeNoMouS/cloudscraper#3rd-party-recaptcha-solvers

[2019-09-26 10:28] VeNoMouS commented on #78
If you want you can email me the list of URL's your attempting so i can look into it more for you in private

[2019-09-26 10:32] tarunteckedge commented on #78
Thanks, just sent you list of urls by email

[2019-09-26 10:47] VeNoMouS commented on #78
Refer my response to your email, and issue being outside of cloudscraper

As I pointed out in the email you need to construct that token correctly with the calculated hash.

I'm going to close this ticket and we can continue via email as its unrelated to the project

[2019-09-26 10:47] #78 closed

[2019-09-26 15:25] HiImNatsu opened #79 "Cloudfare Error : Access denied"
<!DOCTYPE html>

 <html class="no-js" lang="en-US">
<head>
<title>Access denied | haapi.ankama.com used Cloudflare to restrict access</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-wid

[2019-09-26 20:53] VeNoMouS commented on #79
Can you please __debug=True__ and supply me with a dump as when i access the page you have given me "https://haapi.ankama.com/json/Ankama/v2/Account/CreateGuest?game=18&lang=fr" I get

[code]

[2019-09-26 20:55] VeNoMouS commented on #79
Ah actually I see what you mean..

[2019-09-26 22:14] smartmimo commented on #79
hello venomous, that page requires a request with several parameters, that's why it gives u that error

[2019-09-26 23:23] VeNoMouS commented on #79
I need to be able to replicate said error  in order to assess/diagnose and implement a possible fix.

If you don;t want to public post all the information, then email me off the record.

But without further information I'm unable to do anything for you.

[2019-09-27 00:39] VeNoMouS commented on #79
Looking at what you have posted, this looks like a reCaptcha?!

[2019-09-27 00:45] HiImNatsu commented on #79
it's not recaptcha , i'll send you the code in private

[2019-09-27 06:36] VeNoMouS commented on #79
Rgr , got the code from you, sorry only just got home, i'll review it later and get back to you if thats cool?

[2019-09-27 07:50] HiImNatsu commented on #79
that's totally cool , thank you

[2019-09-27 14:56] ItsASmallWorld opened #80 "403 Access denied"
I am using 2captcha integration and am accessing www.bstn.com.  Using v1.1.43.

[2019-10-03 05:38] VeNoMouS commented on #80
@ItsASmallWorld can you please update to the lastest cloudscraper package version, and let me know if you still have a problem please?

thanks

[2019-10-04 01:13] ViRb3 commented on #71
Any update on this? Would love a more elegant solution

[2019-10-04 01:32] VeNoMouS commented on #71
It's been pending for awhile now... its being tested by some users... and the latest cipher suite issues has just been holding me up, I haven't forgotten about you mate

I've been busy with personal projects as well

Here's a proof shot for you ;P

![image](https://user-images.githubusercontent.com/597545/66174909-c8912280-e6b3-11e9-8b1a-2d44efba08c6.png)

[2019-10-04 02:46] ViRb3 commented on #71
No rush at all, just wanted to check the status. Many thanks!

[2019-10-04 08:15] wooddance opened #81 "get_tokens() gets wrong with custom user-agent"
When using get_tokens() with custom user-agent, the returned user-agent is not correct.

[code]
Maybe it's because that the method doesn't capture the `headers` to construct session but pass the `headers` directly to the `scraper.get()`.

[code]

[2019-10-04 08:31] VeNoMouS commented on #81
I'll look into this shortly for you..

also just fyi, if you want a random "chrome" browser you can also

[code]

How ever I will investigate you're issue

[2019-10-04 16:10] ItsASmallWorld commented on #80
Hi I'm still having the same issue using v1.1.47

[2019-10-04 16:28] ItsASmallWorld commented on #80
You know what, I think the issue is that my recaptca solver service is taking a long time to finish.   I'll reopen if I continue to experience issues.

[2019-10-04 16:28] #80 closed

[2019-10-04 16:29] ViRb3 opened #82 "Why so many user-agents?"
I see all of your updates with cipher changes to fix certain user-agent strings, why not use one single user-agent and cipher suite that is well-tested and works?

[2019-10-04 22:32] VeNoMouS commented on #81
My biggest concern here is, that cloudflare looks at the User-Agent vs the headers its sent and they have to be in a specific order, that means if someone is passing User-Agent I have then have to parse and workout what type of User-Agent it is in order to send the correct headers..

I did look at how this would be possible, but it pushed more work back onto me maintaining this in the future, whic

[2019-10-04 22:35] #81 closed

[2019-10-04 22:49] VeNoMouS commented on #82
The problem isn't user-agents,

Most of the time is a variation of different operating systems using different ciphers and in conjunction with Cloudflare checking specific ciphers being there, I'm also trying to replicate the browser ciphers as close to minimize detection as much as possible, also hence why we have so many different user-agents in the browser.json.

I'm also catering for users usi

[2019-10-04 22:49] #82 closed

[2019-10-05 00:38] wooddance commented on #81
Thanks for your detailed reply! I will use the solutions you provided.

[2019-10-08 23:12] VeNoMouS commented on #71
There you go boys, it's in release 1.2.0 for you...

https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/__init__.py#L261

can be called via `cloudscraper().IUAM_Challenge_Response(body, domain, interpreter)`

Sorry about the massive delay.

Enjoy :)
- VeNoMouS

[2019-10-08 23:12] #71 closed

[2019-10-15 09:36] run3th opened #83 "access denied - please enable cookies"
Hey, it started yesterday. When I trying to get response from cloud-flare protected site (e.g.: https://www.tibia.com ) i get:

[code]

any ideas? (only happening from aws ips)

[2019-10-15 10:13] VeNoMouS commented on #83
I have not seen that earlier before, are you able to paste a full debug?

[2019-10-15 10:21] VeNoMouS commented on #83
Also just so you're aware, this site has invisible reCaptcha v2 enabled on it...

[2019-10-15 11:00] run3th commented on #83
< GET / HTTP/1.1
< Host: www.tibia.com
< User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3422.0 Safari/537.36
< DNT: 1
< Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8
< Accept-Language: en-US,en;q=0.9
< Accept-Encoding: gzip, deflate, br
<

<!DOCTYPE html>

 <html class="no-js" lang="en-U

[2019-10-15 21:39] VeNoMouS commented on #83
Can you please tell me your current package version

[code]

Also what OS are you using?

[2019-10-15 21:53] run3th commented on #83
version 1.2.2

Ubuntu Server 18.04 LTS  or AWS lambda (amazon linux)

[2019-10-15 21:56] VeNoMouS commented on #83
Ok thanks,

I'll try find a 18.0.4 ubuntu box to have a play on, it looks like a cipher issue to me , the fact you get a 403 on the initial request... either that or your ip is blocked... but you say you get IUAM on curl... so that makes me think its cipher related.

anyway i'll see what I can find and let you know

[2019-10-15 22:49] VeNoMouS commented on #83
Are you using py2 or py3?

also can you please

[code]

also can you please

[code]

I've got some users to test on their 18.04 and they aren't having issues, so just trying to track down your issue.

[2019-10-15 22:50] VeNoMouS commented on #83
You also state that you get IUAM when you use curl... but i dont get IUAM in a browser.... you please supply your `curl` request raw data...

Thank you

[2019-10-15 22:57] VeNoMouS commented on #83
Error `1020` is a firewall rule on cloudflare...  are you sure you are not blocked? please provide the raw `curl` request or `requests` data..

[2019-10-16 07:45] run3th commented on #83
CURL

[code]

[2019-10-16 07:47] run3th commented on #83
Keep in mind that it works from all sources using different IP than AWS, Probably they are blocking cloud IPs somehow.  you can send me your IP if you want so i can grand you SSH access to the aws instance.

[2019-10-16 10:30] run3th commented on #83
what i figured out so far:
CURL https://www.tibia.com  --> WORKS
requests.get(https://www.tibia.com) --> Fails

I converted to requests to curl and get following:

curl -X GET -H 'Accept: */*' -H 'Accept-Encoding: gzip, deflate' -H 'Connection: keep-alive' -H 'User-Agent: python-requests/2.22.0' https://www.tibia.com    ->> it fails because of **Accept-Encoding**

if i would remove the accept enco

[2019-10-16 20:15] VeNoMouS commented on #83
re IUAM that is weird because i had like 3+ ppl try it and they didnt get IUAM either..... location based perhaps?

[2019-10-16 21:15] run3th commented on #83
same issue for Ireland, Frankfurt, Virginia

[2019-10-17 00:14] VeNoMouS commented on #83
Are you using AWS ubuntu supplied requests/urllib3... or are you pip installing?

[2019-10-17 00:15] VeNoMouS commented on #83
I personally think you AWS's ip's are sh*tlisted and you're getting 1020 firewall blocked.

[2019-10-17 06:57] run3th commented on #83
i sent you access to the linux machine. (empty)  you  can play around and install/remove whatever you want.

[2019-10-17 07:37] VeNoMouS commented on #83
Jumped onto that box of yours, upgrade requests and urllib3 via pip3... however... still blocked...

So i tested via a proxy back home...

[code]

![image](https://user-images.githubusercontent.com/597545/66987441-4d9d2280-f11d-11e9-9e6a-48bc1c229148.png)

[code]

![image](https://user-images.githubusercontent.com/597545/66987380-29d9dc80-f11d-11e9-9cae-f91c1d708a64.png)

![image](https://user-ima

[2019-10-17 08:36] run3th commented on #83
@VeNoMouS  thanks a lot. I was wondering why it working from web and curl :) magic :) Is xxx.xxx.xxx.xxx:8081 your private proxy? Do you know some public proxies?

[2019-10-17 08:38] VeNoMouS commented on #83
I tested via curl, it didn't work either...

and yea that is my private proxy... google for some open proxies, but they arent going to be guaranteed to work... there are some that you can purchase online as well for a monthly subscription

[2019-10-17 10:13] sraedler opened #84 "calling multiple websites with multiple threads cause recaptcha"
Hi VeNoMouS,

I need to get the response of multiple websites. All of them are using Cloudflare.
If I call the urls one by one, everything is ok (most of the time).
But if I call them within threads, most of them return Recaptcha issue.

I know it is a kind of cloudflare security feature, but do you have any suggestions, how to use threads?

BTW from my point of view, it doesn't matter which cloud

[2019-10-17 19:43] Menma0 opened #85 "RuntimeError: Cloudflare reCaptcha detected"
Hello, i have some issue with cloudflare :/

`RuntimeError: Cloudflare reCaptcha detected, unfortunately you haven't loaded an anti reCaptcha provider correctly via the 'recaptcha' parameter.`

Any help please ?

[2019-10-17 19:46] VeNoMouS commented on #83
Going to close this off for now mate..

Unless some further information comes to light, please feel free to open comment back here if you discover something I have missed, but to me as i showed you.. honestly looks like AWS's ip blocks have been __sh*tlisted__ on that web site via a custom firewall rule on cloudflare.

What further backs up my thinking is that you aren't being blocked on other clo

[2019-10-17 19:46] #83 closed

[2019-10-17 19:48] VeNoMouS commented on #85
Let me have a look for you

[2019-10-17 19:49] VeNoMouS commented on #85
Can you please provider python version, cloudscraper version

[2019-10-17 19:56] VeNoMouS commented on #85
This is a off a Debian 9.11
[code]

However on my Debian 10 system, I managed to triggere a reCaptcha... I will investigate this further

[2019-10-17 20:30] VeNoMouS commented on #85
It's cipher related... I've already managed to find chrome and firefox issues... but jsut doing some more detailed analysis on it.

[2019-10-17 21:42] VeNoMouS commented on #85
Ignore the fact that TLS 1.3 ciphers fail, you cant actually remove them from python...  but basicly

__Chrome__
[code]

__Firefox__
[code]

Basicly cloudflare just being dicks... i'll remove a cipher from each User-Agent and push it up

![image](https://user-images.githubusercontent.com/597545/67049914-d6ef3c00-f193-11e9-9ea5-6229aed8c2ef.png)

[2019-10-17 21:59] VeNoMouS commented on #84
Refer #85

[2019-10-17 22:00] #85 closed

[2019-10-18 04:57] VeNoMouS commented on #83
@run3th give release 1.2.4 a try just in case it’s related mate

[2019-10-18 06:00] VeNoMouS commented on #83
@run3th jumped in for you and tested....

[code]

unrelated ;P

[2019-10-18 19:51] VeNoMouS commented on #84
Actually that was kind of rude of me @sraedler is your issue actually fixed? sorry was tired after work and busy yesterday, chasing this back up to see if this is actually resolved for you?

[2019-10-20 14:05] sraedler commented on #84
No worries!

Yes, the Issue still exists in the newest version.

[2019-10-20 20:54] VeNoMouS commented on #84
Can you supply some example code and sites your doing this with please?

[2019-10-21 06:07] sraedler commented on #84
Sure, I tested with this script under python 2.7 and python 3.7 under Windows 10.

The issue is not always there and I have no idea, why it appears.
I added some random domains for testing.

[code]

[2019-10-21 10:31] VeNoMouS commented on #84
well... for starters.. i would __NOT__ constantly solve the challenge over and over again for a website... store your cookies away somewhere and inject them back in when needed... CF is most likely triggering that you are a bot,... the way you are doing it is an obvious way to get yourself caught.

I just got home, and eatting dinner (23:30 ⌚️)

I will write some example code for you tonight or to

[2019-10-21 11:21] sraedler commented on #84
thank you!
No worries if you need more time. It is not that urgent.

[2019-10-21 20:35] Menma0 commented on #84
Hello, same issue here for https://www.japscan.co/
RuntimeError: Cloudflare reCaptcha detected, unfortunately you haven't loaded an anti reCaptcha provider correctly via the 'recaptcha' parameter.
:/ thanks advance for your work

[2019-10-21 22:57] VeNoMouS commented on #84
Originally I thought you were just looping over and over again... however I can see what you mean via

[code]

[code]

[2019-10-21 23:02] VeNoMouS commented on #84
That is cloudflare behavior, I can't do anything to prevent that as fair as I'm aware... i would recommend you using proxies if you are hitting multiple sites... however...

![](https://media1.tenor.com/images/6bd47a75fb0c52e3cd23b84240a5af98/tenor.gif)

*tests theory*...

[2019-10-21 23:25] VeNoMouS commented on #84
See as you can see even here.... loading via cached cookies is not enough, as we still need to solve reCaptcha... its detected us as a threat... I can only recommend proxies if your hitting multiple different cloudscraper sites in one go... or via various "__monitors__"

[code]

[code]

[2019-10-22 00:41] VeNoMouS commented on #84
You're prob still going to get race conditions with the scraper in cache initially due to the time(~5 seconds) it takes to check if its in the scrapers dict to executing the challenge solve on Cloudfare to injecting the scraper into the scrapers dict...

[code]

[2019-10-22 02:39] VeNoMouS commented on #84
Sorry, my example code was a little off... to make it a bit more thread friendly... I should've joined to block execution , and not let it run away with itself..

[code]

[code]

[2019-10-22 06:48] sraedler commented on #84
Thanks for your suggestions and the much effort!

My main problem is, that I'm not aware of a list of urls I need to retrieve.
I know a total amount of possible urls, but not which url in particular I need to crawl.

I was thinking about a basic cache, wich just calls the websites periodically like you did in the last example, but I'm not sure whether this is sufficient for a lightweight system an

[2019-10-23 22:15] #84 closed

[2019-11-12 16:46] simonsruggi opened #86 "cloudscraper can't solve some captchas"
I get 403 sometimes on this website because of captcha:
You can test : https://www.43einhalb.com/adidas-yeezy-500-soft-vision-364709

[2019-11-12 18:11] null-routed commented on #86
Is the question something like "cloudscraper can't solve captchas even though I use captcha solving services"? The link has a hard captcha on it so cloudscraper is not gonna be able to go past it unless you provide a 2captcha/anticaptcha key.

[2019-11-12 18:13] VeNoMouS commented on #86
@simonsruggi are you re-using your cookies? Or constantly generating a scraper object in a loop? The latter will trigger cloudflare anti bot protection , can you give some more detail how you are making your requests ? Like some example code?

Cheers

[2019-11-12 18:20] simonsruggi commented on #86
@null-routed  Obviously i use a 2captcha api key and it works but not on that page.

@VeNoMouS :
Example code:

scraper = cloudscraper.create_scraper()

scraper.recaptcha= {'provider': '2captcha', 'api_key': apikey}

response = scraper.get(link, headers = headers)

print(response.status_code)  #which turns to be 403 on that specific captcha item

[2019-11-12 18:22] VeNoMouS commented on #86
What are headers? If you send wrong ordered headers, cf will reject you

[2019-11-12 18:24] VeNoMouS commented on #86
Re recaptcha , if that site has a recaptcha outside of cf and it’s embedded into the site, my module won’t solve that, it only solves when the recaptcha is presented by cf

[2019-11-12 18:24] VeNoMouS commented on #86
I’m not on my pc atm so I can’t look at it right now

[2019-11-12 18:26] simonsruggi commented on #86
headers = {
                'Host': 'www.43einhalb.com',
                'upgrade-insecure-requests': '1',
                'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.87 Safari/537.36',
                'sec-fetch-user': '?1',
                'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/a

[2019-11-12 19:20] VeNoMouS commented on #86
Your headers are not an ordered dict which will create your own issues, if you do

[code]

You'll see these are an ordered dict, a normal dict does not keep order of insert

The problem is most likely from you trying to manually set your own headers rather than the scrapers ones and doing it in correctly.

[2019-11-12 19:27] VeNoMouS commented on #86
Actually I tested this myself, and its reCaptcha on by default

[code]

Also looking at the site... its not actually detecting reCaptcha for some reason,

I need to investigate whats going on.

[2019-11-12 19:35] simonsruggi commented on #86
Basically the first request is always a 403 (because of captcha) but then, solving captcha and making a new request with new cf_clearance cookie you’ll get 200

[2019-11-12 19:38] VeNoMouS commented on #86
The actual problem appears that requests is not decoding the brotli even though I can see it ok in the debug, but when I access content or text attribute its encoded.. very strange bug I wonder if requests / urllib3 has a bug  , ill keep looking into it

[2019-11-12 19:40] VeNoMouS commented on #86
Upgrading urllib3 resolved issue for me , it now decodes and detects reCaptcha and solves correctly.

[2019-11-12 19:45] simonsruggi commented on #86
Thank you! Working now but i get this warning:

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.25.7) or chardet (3.0.4) doesn't match a supported version!

[2019-11-12 19:45] VeNoMouS commented on #86
upgrade your requests?

[2019-11-12 19:47] VeNoMouS commented on #86
I don't think https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/__init__.py#L172 is working correctly

[2019-11-12 19:51] simonsruggi commented on #86
Thank you so much, everything is working smoothly now!

[2019-11-12 19:59] VeNoMouS commented on #86
Found the issue, https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/__init__.py#L325 , since we super to requests and bypass our own hijack routine, we don't try decode brotli on earlier versions of urllib3, I will put in a fix for this

thanks for raising the issue @simonsruggi

[2019-11-12 20:13] simonsruggi commented on #86
Thank you for solving it

[2019-11-12 20:55] VeNoMouS commented on #86
@simonsruggi release 1.2.8 has been pushed to resolve for any one else that might come across the same problem.

Since you have upgraded you won't have this issue, as this is for people with urllib3 < 1.25.1 installed

[2019-11-12 20:55] #86 closed

[2019-11-22 08:39] VeNoMouS opened #87 "Possible change on Cloudflare, causing reCaptcha..."
I am aware there is a possible change on cloudflare and causing reCaptcha, this does not appear to be cipher related and I am currently investigating

[2019-11-22 08:59] VeNoMouS commented on #87
Yea, it looks like we have a javascript change with jschl_answer calcuation, I am investigating it

[2019-11-22 10:09] VeNoMouS commented on #87
scratch that, it is not __jschl_answer__

[2019-11-22 11:02] VeNoMouS commented on #87
I have completely ruled out js challenge / solve .. that pushes the issue back towards headers or ciphers...

I might finish up for the night as its late and im not doing an all nighter, i understand that its not working for people, i'll pick it back up tomorrow.

[2019-11-22 16:33] #79 closed

[2019-11-22 19:21] VeNoMouS commented on #87
Morning people, its current 0820 NZST..

Woke up a little early, had a small play, I have managed a bypass...

![image](https://media1.tenor.com/images/4ae2cfb5beef1a218335fe7f9a53ce4f/tenor.gif)

However, Its not one I really want to introduce into the code... but it gives me an insight into what might be going on... will keep you updated..

[2019-11-22 23:33] VeNoMouS commented on #87
So... have made a bit of a break through, I have identified where the issue lies... just trying to narrow it all down so I can put the minimal foot print change into the module..

![image](https://user-images.githubusercontent.com/597545/69467544-661fed00-0ded-11ea-94da-fc418bf28973.png)

[2019-11-22 23:38] VeNoMouS commented on #87
OH FFS!!!.... just as that happens, i notice that CF automatically starts working with the stock module again.....

![image](https://user-images.githubusercontent.com/597545/69467711-1e4d9580-0dee-11ea-9921-9c04392b6801.png)

[2019-11-24 20:48] #87 closed

[2019-11-26 16:59] soermejo opened #88 "It Simply doesen't work"
<Response [503]>

It gives me 503 everytime.

[2019-11-26 19:20] VeNoMouS commented on #88
[code]

[2019-11-26 21:04] TSecretT opened #89 "Doesn't wait for 5 seconds."
I am using python 3.7 with cloudscraper version 1.2.8
I am trying to access webpage with cloudfare protection and anticaptcha using your module, it worked perfectly before, but lately i have been issuing the error when the scraper could not pass the waiting time (i suppose). As i response i get <Response [403]>, and as a HTML it says 'Loading page, please complete captcha'

`scraper = cloudscraper

[2019-11-26 21:14] VeNoMouS commented on #89
Hi @TSecretT

Can you supply the URL you're trying to access?

[2019-11-26 21:22] TSecretT commented on #89
I am trying to access this website: _https://olimp.kz/index.php?page=line&addons=1&action=2&mid=53075916_

`>>> soup = get_source(url)
< GET /index.php?page=line&addons=1&action=2&mid=53075916 HTTP/1.1
< Host: olimp.kz
< User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:56.0) Gecko/20100101 Firefox/56.0.3 Waterfox/56.0.3
< Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0

[2019-11-26 21:33] VeNoMouS commented on #89
Cheers mate, I will look into it shortly for you, just busy with work stuff atm :)

[2019-11-26 21:39] soermejo commented on #88
Apparently the site removed cloudflare, but i swear, before wasn't working.
Proof: try with "https://ggdrop.net"

[2019-11-26 21:45] VeNoMouS commented on #88
it's still using cloudflare, you can see it in the headers, however it does not have IUAM enabled,

![image](https://user-images.githubusercontent.com/597545/69675214-041ffa00-1103-11ea-887b-b9124294ac09.png)

I will look at "https://ggdrop.net" in a minute

[2019-11-26 21:56] VeNoMouS commented on #88
ok... if this is a __real__ cloudflare.... (which i dont think it is) they have changed their end points... hold up while i investigate if this is actually behind cloudflare, or the site is just faking that it is...

[2019-11-26 22:00] VeNoMouS commented on #88
#89 is also related

[2019-11-26 22:05] VeNoMouS commented on #89
FWIW, CF have changed their endpoints for the challenge solves..

[2019-11-26 22:09] TSecretT commented on #89
ok got it, so is there something we can do right now to fix the error?

[2019-11-26 22:09] VeNoMouS commented on #89
No I need to rewrite the module

[2019-11-26 22:45] VeNoMouS commented on #89
Ok I have fixed normal challenge... I just need to fix reCaptcha before I push changes.

[2019-11-26 22:47] VeNoMouS commented on #88
endpoint is `/?__cf_chl_jschl_tk_` for the challenge solve

Method is now a __POST__, not a __GET__, parameter's have been removed, and are instead are data in the POST

[2019-11-26 22:50] VeNoMouS commented on #89
@TSecretT can you refer #88, so I don't have to update both tickets?

[2019-11-27 03:11] VeNoMouS commented on #88
Give Release 1.2.9 a go

[2019-11-27 03:11] VeNoMouS commented on #89
Give Release 1.2.9 a go

[2019-11-27 04:07] #89 closed

[2019-11-27 04:08] #55 closed

[2019-11-27 04:08] #88 closed

[2019-11-27 08:40] LXMedia1 commented on #88
Give Release 1.2.9 a go means it should work now ?
1.2.12 still not working

[2019-11-27 08:40] VeNoMouS commented on #88
@LXMedia1 got an example?

[2019-11-27 08:52] LXMedia1 commented on #88
sorry my fould not updated my venv, sorry ;(

[2019-11-27 08:53] VeNoMouS commented on #88
All good, next time, can you send examples though with version etc?

I'm actually just pushing out 1.2.13 with some improvements

[2019-11-27 08:55] VeNoMouS commented on #88
Enjoy 1.2.13...

I'm off to work out

[2019-11-27 08:55] LXMedia1 commented on #88
thx dude

[2019-11-27 12:28] hahawhy opened #90 "does cloudscraper support getting the javascript load-needed website?"
hi i want to get the data from one website, but the content need load javascript, when i use cloudscraper to get the website, it just returned some js code, not the text what i want.
so i wonder how to use cloudcraper to get the text content from the website which need to load javascript?

[2019-11-27 18:34] VeNoMouS commented on #90
The only Javascript it processes is the javascript from cloudflare is its challenge page , the rest is up to you, the developer , perhaps you would be happier with selenium if you need to fully load and process JavaScript

[2019-11-27 18:34] VeNoMouS commented on #90
Do you have an example of said site?

[2019-11-27 20:08] sraedler opened #91 "Less dependency version expected?"
First, thanks a lot for your awesome and funny work!

I just Wanted to ask, whether it is possible to create a interpreter with less dependencies, especially without the need of pip?

Why I‘m asking?
Because I want to use the addon with Kodi and there is no pip. I know it is possible to add it as other modules, but that‘s an additional dependency.

I already saw some modules with a kind of hardcod

[2019-11-27 20:32] VeNoMouS commented on #91
Yea, there are alot of areas I need to clean up that haven't been touched in months...

```I already saw some modules with a kind of hardcoded js evaluation.```

^^ What do you mean?

re kodi packaging... how are you going to deal with the interpreter dependency, are you going to have the user install nodejs for example themselves? I see there is a 3rd party js2py kodi module so you could use that

[2019-11-27 21:24] sraedler commented on #91
I tried it with js2py as modul.
But I don‘t like all the dependencies...

Would you like to share your work for Kodi? ;)

With hardcoded I mean something like that: https://github.com/a4k-openproject/script.module.openscrapers/blob/master/lib/openscrapers/modules/cfscrape_solver.py

[2019-11-27 22:50] VeNoMouS commented on #91
^^^ just looking at that module... i dont see how that would work... unless __ord()__ is doing jsunfuck... but i highly doubt it...  it looks like a varition of @doko-desuka && @Arias800 's work... in the past I tried to avoid the whole custom python js solver... but if i find some time I could look into it again.

[2019-11-27 23:06] mab5vot9us9a opened #92 "SSL: SSLV3_ALERT_HANDSHAKE_FAILURE"
Hi, thanks so much for your work.

Since CF changed their mechanism yesterday, I was happy to see you were already on it, so I promptly upgraded.

However, now I can't access a certain website anymore, because I think a secure connection is enforced which they do not have set up. The site in question is [http://rmz.cr/](http://rmz.cr/).

The regular request returns the cloudflare landing page.

[c

[2019-11-27 23:33] VeNoMouS commented on #92
That was/is my fault... in assuming that every normal person in the world would be using cloudflare with SSL....

![image](https://user-images.githubusercontent.com/597545/69766061-47e63280-11db-11ea-85d9-78220f113dc7.png)

I will push a fix out for this later today... and __THANK YOU, SO MUCH__ you are one of those RARE people who actually supply enough information in a ticket, without me requiri

[2019-11-27 23:45] mab5vot9us9a commented on #92
Yeah, I was rather shocked as well that they don't have any SSL set up!

Glad I could provide the necessary information :) And thank you again for your work!

[2019-11-28 02:09] VeNoMouS commented on #92
@mab5vot9us9a , thanks heaps for the coffee's mate, I have pushed 1.2.14 to pypi and to the git repo... should resolve your issue, can you test it out and let me know please :)

[2019-11-28 07:07] sraedler commented on #91
In the same git folder is also a jsunfuck file. Maybe that helps you.

I hope you can solve this :)

BTW. Kodi can also not handle OpenSSL. Since it is only used to catch the exception, I think it might be replaced with an buildin modul/exception?

[2019-11-28 09:15] mab5vot9us9a commented on #92
My pleasure!

Yes, just tried it out and it works as beautifully as before 🙌

Thanks a bunch!!

[2019-11-28 09:15] #92 closed

[2019-11-28 09:48] doko-desuka commented on #91
@sraedler in what way is the OpenScrapers' version, or [the version in Arias800](https://github.com/Arias800/CloudflareScraper/blob/master/CloudflareScraper/__init__.py), not working for you in Kodi? If you find the solution to this it would spare @VeNoMouS's time to work on other things.

I use Arias800 on a personal video add-on, it works fine. From time to time it gives a wrong answer, but I've

[2019-11-28 09:49] VeNoMouS commented on #91
@doko-desuka Cloudflare changed their whole challenge delivery yesterday, to POST and new vars, js challenge payload still the same

[2019-11-28 09:55] doko-desuka commented on #91
Oh sh!t. Good to know, thank you.

[2019-11-28 10:03] VeNoMouS commented on #91
Prob best to look at my latest code.. since i've made improvements since that commit...

[2019-11-28 10:37] doko-desuka commented on #91
I did, it helped a lot.

[2019-11-28 11:37] sraedler commented on #91
@doko-desuka kinoger.com for example does not work.

Do you two see a way to combine your work, since @VeNoMouS fixes the ciphers nearly daily.

[2019-11-28 13:04] doko-desuka commented on #91
Ours only works on that one if you try it first with the HTTP scheme to get the cookie, then it redirects to HTTPS.
It's probably because of the SSL ciphers (picking a user-agent at random, without matching it with the proper cipher suite, it's using whatever urllib3 has).

[2019-11-28 18:57] pun-private opened #93 "TypeError: request() got an unexpected keyword argument 'user_agent'"
Hi !

I'm having trouble setting my own user agent and I tried the example your provided in the README.

[code]

It answers with `TypeError: request() got an unexpected keyword argument 'user_agent'`. Here is the full stack :

[code]

Am I doing something wrong ? Thx :)

[2019-11-28 20:02] VeNoMouS commented on #93
That is due to cloudflare expecting specific browsers etc and having specific ordering of their header.

IUAM is an __anti-bot__ feature......

[2019-11-28 20:13] VeNoMouS commented on #90
![image](https://user-images.githubusercontent.com/597545/69830197-7b32cb00-1288-11ea-87f0-e445ef7b35fe.png)

[2019-11-28 20:13] #90 closed

[2019-11-28 20:19] VeNoMouS commented on #93
Actually reconsidering this...

What i'll do is rewrite the user-agent class to allow a custom... but the developer will use it their risk... I will not offer any support on custom UA's.

I don't want to block other developers out from doing their own thing and feel that it's my way or the highway.

[2019-11-28 20:53] pun-private commented on #93
Oh thx ! Using custom ua is something I need in my architecture so I appreciate it !

[2019-11-28 21:44] VeNoMouS commented on #93
Something like this ok....

[code]

[code]

[2019-11-28 21:52] VeNoMouS commented on #93
@pun-private it's in the dev branch if you want to test it out...

[2019-11-28 22:53] pun-private commented on #93
I have to take a plane, I'll try it when I'll come back :) Thx for the quick effort

[2019-11-29 12:27] doko-desuka commented on #91
Okay, thanks to VeNoMouS' very useful code and this doc section (https://www.npmjs.com/package/cloudscraper#recaptcha), I was able to add an adapter to that CF solver for Kodi. Tests were succesful.

The adapter is this. Note that it does not check any certification or hostname, because for video streaming we don't need this, we're just consuming data instead of submitting data, so it doesn't matt

[2019-11-29 12:33] VeNoMouS commented on #91
FWIW "grease" is a boringSSL thing, that isnt actually the real cipher name...  https://www.chromestatus.com/feature/6475903378915328

[2019-11-29 12:37] doko-desuka commented on #91
It came up on the SSL inspection, and I wanted to copy it as much as possible:
![nexus7Ciphers](https://user-images.githubusercontent.com/31810999/69869425-981ccd80-128b-11ea-8484-1c7bf05b4def.png)
The other ciphers like "CHACHA20" etc I have no idea what aliases could be used.
I don't know if this makes any practical difference to be honest. If it doesn't then I'd better remove it.

[2019-11-29 12:39] VeNoMouS commented on #91
@doko-desuka refer to my browser.json in User_Agent dir ;P ciphers for chrome / firefox are in there...

or check the dev tree for a more "generic" one for custom user-agent's....

[2019-11-29 12:42] doko-desuka commented on #91
I saw that, did you make that on your own? I don't think there's any other (open) database like that.

[2019-11-29 12:42] VeNoMouS commented on #91
Yea I did

[2019-11-29 12:48] doko-desuka commented on #91
I used the table in "Socket Creation", they should've updated it with that info.
https://docs.python.org/2/library/ssl.html#socket-creation

[2019-11-29 12:53] VeNoMouS commented on #91
yeaaaaaa take that SSL ordering with a grain of salt in python... it doesn't follow the order as far as i've seen...

[2019-11-29 12:56] VeNoMouS commented on #91
The number one issue i've found with cloudflare... for no reason at all... even though say chrome or firefox is presenting the ciphers normally..... they will randomly decide to start reCaptching if a cipher is in there...

I need to spend some more time messing around with cloudflare every ~6+ days decided to randomly block a cipher.. yet the browsers arent affected by it...

[2019-11-29 12:57] doko-desuka commented on #91
Okay, if I find any problems I'll report back, just for reference.
The Chrome in my Nexus also sends these modern headers, I don't know if they help with spoofing as a mobile device:
[code]

[2019-11-29 13:00] VeNoMouS commented on #91
@doko-desuka nah they not needed...

you can select mobiles via my user_agent class

ie

scraper = cloudscraper.create_scraper(browser={'browser': 'chrome', 'desktop': False})

or... 'mobile': False... if you want only desktop versions etc...

i added in "custom" today into the dev branch with a "generic" cipherSuite...

[2019-11-29 13:06] VeNoMouS commented on #91
anyway @doko-desuka its 2am for me, im going to wrap it up for the night, laters

[2019-11-29 14:00] doko-desuka commented on #91
Okay, later.

[2019-11-29 15:02] sraedler commented on #91
Nice to see you working together :)

@doko-desuka where can I expect to see your final work? :)))

[2019-11-29 16:50] doko-desuka commented on #91
@sraedler yes, I'm sure it's very convenient to you.

I haven't yet submitted an update to Arias800. Part of the Session subclass is this at the moment. I repeat that this is for video streaming on Kodi, you need to rewrite it for your own needs:
[code]

The style is slightly different than the code already in Arias800 (it's using `camelCase` rather than `snake_case`), but the functions omitted st

[2019-11-29 21:39] VeNoMouS commented on #81
@wooddance refer #93 , current pending dev branch supports a "custom" user-agent with a generic cipherSuite and generic headers

[2019-11-30 06:39] VeNoMouS commented on #91
Just as a heads up... I have written a native python implementation for the challenge solve , loosey based off all the other ones i've seen and am aware of

I'll do some more testing before I push it into dev, i could make this the default interpreter instead of js2py , removing the requirement for js2py in the requirements.txt

[2019-11-30 08:14] VeNoMouS commented on #91
It's currently setting in dev branch

[2019-11-30 08:38] sraedler commented on #91
Awesome!!!

I will test this with a few pages!

Is it possible to get rid of OpenSSL, since it is not default in Kodi? Or make it optional.

[2019-11-30 08:40] VeNoMouS commented on #91
I'll see what I can do......

[2019-11-30 08:59] VeNoMouS commented on #91
One of my testers did find a site the regex broke on, so i need to tune it a little more.

[2019-11-30 09:05] sraedler commented on #91
I also had the problem with broken regex

[2019-11-30 09:12] VeNoMouS commented on #91
I need to dive into this a little more work out the problem is, as there is more to it than simply fixing the regex in this case.

[2019-11-30 09:59] doko-desuka commented on #91
@VeNoMouS hi, I'll take a look and report back.

[2019-11-30 13:12] doko-desuka commented on #91
I couldn't find what's wrong with the native version. It does make a different jschl_answer value than what my browser is making.

I thought of this other way to split the challenge into all the operations, rather than using the semicolons and having to replace that function:
[code]
But it doesn't alter the result, it just uses regex instead of string functions.

[2019-11-30 14:17] prvla opened #94 "Contact?"
Hi,
i'd like to have a chat with you if you could give me contact information (skype,discord,email) or such.
Would be awesome.

Best regards,

[2019-11-30 17:08] mookiegit commented on #93
Great feature, thanks a lot!

If it's not too complicated to implement, I would suggest a small enhancement:
If the provided custom user agent matches one of the configured user agents in user_agent/browsers.json, then pick the configured headers and ciphers from there. What do you think?

[2019-11-30 18:49] VeNoMouS commented on #91
What i found when i changed `k` variable's search..

To the following
[code]
it generated the following answer..
[code]

instead of

```391.2126298751```

as we can see in the following..

[code]

Let me test your above fix

[2019-11-30 19:25] VeNoMouS commented on #91
NM worked it out... t.length .... add domain length to the end variable..

[2019-11-30 19:39] VeNoMouS commented on #91
Also... @doko-desuka , nice job on the regex change... in regards to doing it via regex over strings :)

[2019-11-30 19:48] VeNoMouS commented on #91
@doko-desuka

[code]
cleaned your regex up a bit, but i really like where you went with that, cheers

[2019-11-30 20:23] doko-desuka commented on #91
Nice catch! I forgot about that.
It only appears on some challenges.
I don't think you need to check for 'k' existence, only if '+ t.length' is in the content (I don't remember there being a case where 'k' wasn't present and t.length was, but it should be safer anyway).

[2019-11-30 23:18] VeNoMouS commented on #94
My email is listed on my profile....

[2019-11-30 23:18] #94 closed

[2019-12-02 08:54] devilsport commented on #91
Great work! Compliments to everyone :) I tested current dev branch in Kodi and works perfectly. I just had to disable the OpenSSL import and use of OpenSSL.SSL.Error exception.

[2019-12-02 22:25] reddit-reaper commented on #91
well this was unexpected lol thanks @VeNoMouS the devs that work on stuff in A4K-OpenProject had just updated our cfscrape module to solve for new challenges and this makes it so they no longer have to worry about it anymore :) if you want, i extend an open invitation to our dev group on keybase. if you message me on keybase username: redditreapercody i will get you into the group. devs would love

[2019-12-03 07:35] VeNoMouS commented on #91
Re OpenSSL .. from memory i had to use it because of some wintendo systems... I will run some tests and see if i can get away without it on all systems

[2019-12-03 09:15] VeNoMouS commented on #93
@mookiegit 8a4797186eac67a5b09b3cd418fa2032b1c235a should clear that up for you

[2019-12-03 09:33] doko-desuka commented on #91
The standard `ssl` module imports fine in my Android TV box, so there's this as fallback.
If the external library is Python-only then one'd need to pack it into a script.module.[addon_name] type of add-on for importing into other add-ons after you add it as a dependency in the [addon.xml](https://kodi.wiki/view/Addon.xml#.3Cimport.3E) metadata file. If the external library has binaries, they'd nee

[2019-12-03 09:51] sraedler commented on #91
@doko-desuka that's true, but additional overhead for both deploying a new version and for the performance of cloudscraper.

@VeNoMouS  I also want to ask whether it would make sense to move some imports to the lines, where they are needed. Since for example recaptcha is mostly not used. Or is this just too less improvement compared to readability?

[2019-12-03 10:12] VeNoMouS commented on #91
@sraedler what the hell are you on about? reCaptcha is dynamically imported at the time its loaded.

[2019-12-03 10:26] VeNoMouS commented on #91
OK re the reason OpenSSL for exceptions.. is because of urllib3 which is used by requests, it was fixed in February of this year, however.... we are only using them in the `loadCipherSuite` function, And I was looking at doing away with that, so i'll remove it out over the next day or so.

[2019-12-03 12:07] sraedler commented on #91
Sorry I tried to implement a my.JDownloader extension for recaptcha solving which was quite slow on import. And for testing purpose I just replaced the abstract class with my real implementation and that's why I thought the import is slow. My fault! :zipper_mouth_face:

[2019-12-04 08:55] xayden opened #96 "RuntimeError: Unable to parse Cloudflare anti-bots page: an integer is required (got type bytes)"
This happens when running the following snippet

[code]

[2019-12-04 21:17] VeNoMouS commented on #96
Can you supply more information,... ie the URL, some debug???

![image](https://user-images.githubusercontent.com/597545/70182241-520eb080-1748-11ea-8b59-55befe53ba5f.png)

If information is not supplied, I will be forced to close the ticket.

[2019-12-04 21:23] xayden commented on #96
I don't know how to debug this 😅, here is the complete code with the URL
[code]

[2019-12-04 21:36] VeNoMouS commented on #96
hrrm i dont get that error, can you please the following..

[code]
and send me the output if it errors..

[2019-12-04 23:28] alzamer2 opened #97 "about re pattern"
https://github.com/VeNoMouS/cloudscraper/blob/265c2a56a5fb32026fab238d192e408aafeaa1a7/cloudscraper/__init__.py#L285
hi i tried to fix my scrapper and found out from lastest IUM  you better change (r|jschl_vc|pass) to (r|s|jschl_vc|pass) as it some times ask for s instead of r (of course you need to edit the rest of code too

[2019-12-05 01:34] VeNoMouS commented on #97
Have you got a IUAM challenge source for this?

[2019-12-05 04:51] VeNoMouS commented on #91
As promised I have removed the requirement for OpenSSL import, current in dev branch with commit 5c2901a0c32e21974c693fcf3d5fc59574c4b2f6

[2019-12-05 19:20] ItsASmallWorld opened #100 "access denied 403"
debug output is below
[code]

[2019-12-05 20:07] VeNoMouS commented on #100
This is neither IUAM or reCaptcha, this could be from their new anti bot stuff Bot Fight Mode (BFM)...

But Typically a `1020` error is a manual firewall block on cloudflare... perhaps they are running some analytics in the background looking for mass requests and placing manual blocks on Cloudflare's ..

Either way, this is not a problem from the module, there is nothing to solve in the html

Sor

[2019-12-05 20:08] #100 closed

[2019-12-05 20:10] VeNoMouS commented on #100
What I might do is implement a Cloudflare `1020` detect and raise an error.

[2019-12-05 20:33] leonswoosh opened #101 "pyarmor support"
Cloudscraper is not compatible with pyarmor as of now?
Once packed & obfuscated you always get errors like this "FileNotFoundError: [Errno 2] No such file or directory: '/var/folders/8t/2ln86pvj6dn5jzwk7s5hn7600000gn/T/_MEIMexGVA/cloudscraper/user_agent/browsers.json'"

Something is wrong with the dependencies I think..
You have any solution in mind?

[2019-12-05 20:37] VeNoMouS commented on #101
Most likely, you have to append data if its like some of the other packers...

refer: https://github.com/VeNoMouS/cloudscraper/issues/72#issuecomment-524593291

[2019-12-05 21:41] CoziestYew804 commented on #101
sorry to bother you again but when I pack your module I also get this error
ERROR    invalid syntax (<frozen venv.lib.python3.7.site-packages.js2py.internals.speed>, line 50)

[2019-12-05 22:02] VeNoMouS commented on #101
i recommend using the current dev branch, it has a new python native solver for cloudflare that I wrote and removes the default requirement for js2py

[2019-12-05 22:24] VeNoMouS commented on #96
![](https://media.tenor.com/images/fc01ae3840476fb659d1e19e04fe7252/tenor.gif)

[2019-12-05 22:25] VeNoMouS commented on #97
![](https://media.tenor.com/images/fc01ae3840476fb659d1e19e04fe7252/tenor.gif)

[2019-12-05 22:37] alzamer2 commented on #97
my bad

[2019-12-05 22:59] alzamer2 commented on #97
hmmm i could not get the code i tried many time with requests
but both r and s are value for IUMA function so with (r|s|jschl_vc|pass) it will capture what ever is there in html

[2019-12-06 01:48] VeNoMouS commented on #97
I'm hesitant to introduce a variable back into the code that was removed due to it being in the old challenge..

I will take it on board, but I will not be introducing it back in, until I actually start see'ing some evidence its actually required.

But thank you for raising it as possible bug.

[2019-12-06 01:48] #97 closed

[2019-12-06 01:51] VeNoMouS commented on #101
@CoziestYew804 how did you get on with this?

[2019-12-06 09:31] xayden commented on #96
Sorry for the late reply, this is the output
[code]

[2019-12-06 09:34] VeNoMouS commented on #96
Thanks I'll look into this in a little bit, just in the middle of something just atm, in the mean time i have re-opened the ticket

[2019-12-06 09:58] VeNoMouS commented on #96
Did you wrap your paste?

[2019-12-06 10:09] VeNoMouS commented on #96
[code]

Can you tell me... what your python version is, what your js2py version is... does it happen if you do

[code]

(I assume you have node...) if you dont you could try the dev branch which has a native python solver in it as default... or use the interpreter parameter value of "native"

[2019-12-06 10:55] xayden commented on #96
python version is `3.8.0`, js2py version is `0.60`
[code]

[2019-12-06 10:56] VeNoMouS commented on #96
sorry typo, missed an 'r' interpreter...

[code]

[2019-12-06 10:56] VeNoMouS commented on #96
Oh python 3.8? i never tested it with 3.8 is that even stable?

[2019-12-06 10:57] VeNoMouS commented on #96
wow, seem that it is...

[2019-12-06 11:05] xayden commented on #96
I realized the missing r and was just trying to make the output easier for your testing
``python3
< GET /a/one-piece_522705 HTTP/1.1
< Host: www16.animeultima.eu
< User-Agent: Mozilla/5.0 (Windows NT 6.1; rv:63.0) Gecko/20100101 Firefox/63.0
< Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
< Accept-Language: en-US,en;q=0.5
< Accept-Encoding: gzip, deflate, br
< DNT: 1
<

<

[2019-12-06 11:06] VeNoMouS commented on #96
ah yea i need to put somethign in for that, for what ever reason, randomly it sometimes 302's instead of does passthrough

[2019-12-06 11:09] xayden commented on #96
Does it work with python 3.7.5

[2019-12-06 11:16] VeNoMouS commented on #96
It's not the version's fault... cloudflare switched to pass thruogh after solving... HOWEVER sometimes... it does a 302 for whatever reason... we dont follow redirects because of the processing module...

however, i just put something into the dev branch that should help you, so if you install the dev branch that shouldnt happen..

[2019-12-06 11:29] xayden commented on #96
Okay, I will try it out.

[2019-12-06 11:42] xayden commented on #96
Working!! 😀, Thank you very much, this really helped me out 😊

[2019-12-06 11:43] VeNoMouS commented on #96
All good man :) enjoy 👍

[2019-12-06 11:44] VeNoMouS commented on #96
btw, that has the "native" default interpreter, so if you dont want to use javascript etc... you dont have to

[2019-12-06 11:44] #96 closed

[2019-12-06 14:14] CoziestYew804 commented on #101
@VeNoMouS seems to be solved if I don't install cloud scraper in a venv, maybe it's my python interpreter who's doing weird stuff

[2019-12-06 16:08] simonsruggi opened #103 "Access denied on a get request (possibly Cloudlfare changed)"
Getting 403 on a get request to this url:

link = 'https://www.bstn.com/p/new-balance-cw997-b-774511-50-3-159779'
headers = {
                    'Host': 'www.bstn.com',
                    'upgrade-insecure-requests': '1',
                    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.90 Safari/537.36',

[2019-12-06 18:10] CoziestYew804 commented on #101
@VeNoMouS here I am back to you LMAO. I first of all want to thank you for your wonderful work ! You're really active. Second, it came out the problem wasn't the fault of cloud scraper but was pyarmors fault. I fixed the fist issue by adding the cloud scraper folder as data in a .spec file and fixed the second issue by removing the venv environment but I think that I just could've add the js2py pa

[2019-12-06 21:21] VeNoMouS commented on #101
awesome to hear your up and running mate :)

[2019-12-06 21:21] #101 closed

[2019-12-06 21:23] VeNoMouS commented on #103
Headers should be constructed with an ordereddict... why dont you

[code]

[2019-12-07 09:54] Rekrii opened #104 "CF reCaptcha - Low volume access"
I'm using a simple cloudscraper:

[code]

Everything has been going fine, and I have been using this for ~10 calls per week to curseforge (various URLs similar to the above). It has now started to throw up reCaptchas.

I'm not sure if i should have been doing this a different way, or if the CF reCaptcha is pretty keen on flagging browsers/scraper-browsers.

Any help would be much appreciated, or f

[2019-12-07 20:54] pun-private commented on #93
Hey ! I confirm it works :) Thank you !

[2019-12-07 20:54] #93 closed

[2019-12-08 15:19] Riazable opened #106 "Only Getting 302 Response After Bypassing Captcha (Need 200)"
So, I'm trying to bypass the captcha page on https://nakedcph.com/. After bypassing, I get the 302 status code but then I need 200 in order to get the page content. Here's my code:

[code]
Output:
[code]

[2019-12-08 19:18] VeNoMouS commented on #106
@Riazable, there was a fix i put into the dev branch the other day , cloudflare sometimes results in a 302 rather than doing pass through d41489e73f410f5bc36c7b265a9780c4e79163be

[2019-12-08 19:40] VeNoMouS commented on #104
Nothing is jumping out at me, i dont see any sort of real anti-bot stuff on that page...

pretty sure from memory `CF-Chl-Bypass` means your hitting reCaptcha.... I don't see any google v2/v3 happening on the website...

is it still occurring for you? I just tested it, and got a 200 fine...

[2019-12-08 19:46] VeNoMouS commented on #104
Sorry I tell i lie.. i do see google reCaptcha calls in there.... from the site.. perhaps your ip address has been flagged?

[2019-12-09 11:07] #104 closed

[2019-12-09 14:42] leonswoosh opened #107 "Not bypassing cloudflare page"
When trying to bypass cloudflare / access the login page of https://www.consortium.co.uk,
I always get hit with the cloudflare page.

scraper = cloudscraper.create_scraper()

url = "https://www.consortium.co.uk/customer/account/login/"
r = scraper.get(url)
soup = BeautifulSoup(r.content, "html.parser")

Is it an issue on my side?

[2019-12-09 14:49] dontshareyourname8 commented on #107
That’s not an issue from your side as consortium is not under CF but protected by another protection.

[2019-12-09 14:56] Rekrii commented on #104
This is a reCaptcha check, but this was personal use, at a very low frequency - about 10 calls per week. I was just surprised that this was flagged, that was all.

[2019-12-09 15:11] #107 closed

[2019-12-09 19:50] darchon7 opened #108 "print scraper.get does not work"
your documentation says the simplest way to use cloudscraper is the following code but running it on windows 10 with python 3.7 results in an error:

    print scraper.get("http://javlibrary.com").content  # => "<!DOCTYPE html><html><head>..."
          ^
SyntaxError: invalid syntax

[2019-12-09 19:52] VeNoMouS commented on #108
You must be new to python...

py2 you dont need to wrap print with ()

py3 its required...

``python
print(scraper.get("http://javlibrary.com").content )
[code]

[2019-12-09 19:56] darchon7 commented on #108
thanks for the quick response! yes just started learning the language.  :)

[2019-12-09 19:56] #108 closed

[2019-12-09 19:56] VeNoMouS commented on #108
All good mate :), best of luck

[2019-12-09 19:58] darchon7 opened #109 "301 Moved Permanently"
so i'm getting 301 Moved Permanently when i attempt to use the following code:

[code]

[2019-12-09 20:01] VeNoMouS commented on #109
Thanks for the heads up, I added a 302 fix in the dev branch the other day, as Cloudflare recently changed their challenge / solve procedure... I will add in 301 fix into the dev branch right now

[2019-12-09 20:09] darchon7 commented on #109
you're awesome!

[2019-12-09 20:09] #109 closed

[2019-12-09 20:17] VeNoMouS commented on #109
Commited 687713700f35936b18c2fff485cc98390a7a7f5a in dev branch, which will resolve this issue.

[2019-12-09 20:28] #106 closed

[2019-12-09 21:16] #103 closed

[2019-12-12 08:27] VeNoMouS commented on #91
Should all be resolved in release 1.2.16 package.

[2019-12-12 08:27] #91 closed

[2019-12-12 14:55] Dangeres opened #110 "Cant evade cloudflare"
Setted last version cloudscraper-1.2.16. Have some problem with evade cloudflare.

[code]

Thats code will return that page
[so.txt](https://github.com/VeNoMouS/cloudscraper/files/3956320/so.txt)

[2019-12-12 19:47] VeNoMouS commented on #110
Not sure why you're passing a requests session like for such a simple query..

[code]

and looking at the crappy 100% wrapped text file you have attached, this appears to be a firewall block at the ip level...

[code]

Please supply a proper debug output, and code block it, don't file attach.

[2019-12-12 20:27] VeNoMouS commented on #110
Actually testing what you had...

by submitting the session... https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/__init__.py#L105 is not being implemented for some reason... so its using default requests headers

[code]

[2019-12-12 20:28] Dangeres commented on #110
Just its a part of bigger codebase and i did it for simply understanding.

[2019-12-12 20:39] VeNoMouS commented on #110
Nah its ok, I can confirm it is a problem

[2019-12-12 21:12] VeNoMouS commented on #110
Ok.... problem is its kind of __by design__ for create_scraper()

you see after it creates the scraper object... it sets all items in the requests session you over the top of scraper object... so basically it inherits everything a user would set in the session...

[code]

passing requests implies you know what you're already doing its kind of an `advance` technique...

so if you're wanting to pass

[2019-12-12 21:30] Dangeres commented on #110
Why did it work in next week?

[2019-12-12 21:32] VeNoMouS commented on #110
I assume you mean `last week`... perhaps your requests session headers were different? but nothing has changed in recent updates around this area, look at the commits....

[2019-12-12 21:34] VeNoMouS commented on #110
Actually... its possible... that issue is from the SSL

https://github.com/VeNoMouS/cloudscraper/commit/5c2901a0c32e21974c693fcf3d5fc59574c4b2f6

[2019-12-12 21:36] Dangeres commented on #110
Yep.

Thanks for explain and your work.

[2019-12-12 21:44] VeNoMouS commented on #110
Actually... i still don't think that is it...

[code]

I know 100% for a fact that Cloudflare does in fact look at the headers and header order.

[2019-12-12 21:56] Dangeres commented on #110
But given example is working fine and im glad for that.

[2019-12-12 21:59] VeNoMouS commented on #110
All good mate :)

[2019-12-12 21:59] #110 closed

[2019-12-15 12:07] drakodga opened #111 "Loop protection"
I can't download this kind of files: https://blazing.network/torrents/peliculas/Ad_Astra_2019.torrent

It give me a loop protection, and maybe cloudscraper has some problem with it. There is someone with this problem?

Thank you.

[2019-12-15 14:49] Dangeres commented on #111
Have you use request session? Insert your code example for creator.

[2019-12-15 19:58] VeNoMouS commented on #111
[code]

[code]

[code]

[2019-12-15 20:01] VeNoMouS commented on #111
Also the movie sucks ;P ... FWIW ... lol

[2019-12-15 22:46] drakodga commented on #111
Thank you very much for response me.

lol, yes, this movie suck! it just was an example! :)

Finally I could download the file successfully. Your code runs perfect (thanks for the example).

The problem was stupid: i wrote right url in the post, but i was trying in my code without 's' in 'https'. Very bad for me... sorry.

Again, Thank you very much.

[2019-12-15 22:46] #111 closed

[2019-12-18 04:43] lz10081 opened #112 "__cf_chl_captcha_tk__ cookie token"
Hi,
any way we can get the __cf_chl_captcha_tk__ after it pass the page site?

https://community.cloudflare.com/t/url-of-website/132468

need it like
https://raffle.bstn.com/off-white-x-nike-dunk-low-michigan-?__cf_chl_captcha_tk__=9d2aef54b72ceed14cacb24b2b32a1ab3464dc55-1576642840-0-AUvnTzL_196MizX8XwlowqpxIHrm1bGxqNJ6yvYP7mX09l0DNBnhpBHNpSDKULXs74lqegpoTizI73Gg67QOOc5oO8Wg1G6rBcE34DnRDlu7l8klni

[2019-12-18 04:44] VeNoMouS commented on #112
Site has reCaptcha enabled by default, you can enable this inside cloudflare.... goto it in a browser, it prompts for reCaptcha...

[2019-12-18 04:47] lz10081 commented on #112
they need a referer like

https://raffle.bstn.com/off-white-x-nike-dunk-low-michigan-?__cf_chl_captcha_tk__=9d2aef54b72ceed14cacb24b2b32a1ab3464dc55-1576642840-0-AUvnTzL_196MizX8XwlowqpxIHrm1bGxqNJ6yvYP7mX09l0DNBnhpBHNpSDKULXs74lqegpoTizI73Gg67QOOc5oO8Wg1G6rBcE34DnRDlu7l8klni8EDcT5iUMlBBZh_FquO8y8ELEKU-7dATPZpcMmB4PygBadD0_kym-JzS-HpEQyiGQ3fYs8O8OTRdWe5EsWJJbmAbaE4-zBowz1FKUIn7T6Y4eIfh9bbZpqAfWo4K

[2019-12-18 04:48] VeNoMouS commented on #112
I know what it exactly "needs".......

https://github.com/VeNoMouS/cloudscraper#3rd-party-recaptcha-solvers

Might i recommend you RTFM :)

[2019-12-18 04:52] lz10081 commented on #112
yes i been using a 3rd party solvers but just never seen the cf_chl_captcha_tk show up before I'm able to do other page on the site fine like https://raffle.bstn.com/yeezy-boost-350-v2-yecheil- just not the one has the cf_chl_captcha_tk. sorry if i'm doing it wrong

[2019-12-18 04:53] VeNoMouS commented on #112
Cloudflare changed their challenge logic about 3-4 weeks ago and introduced those new parameters, along with the challenge being sent in a POST

[2019-12-18 05:02] VeNoMouS commented on #112
Sorry to inform you but it worked fine when I did it

[code]

[2019-12-18 05:04] lz10081 commented on #112
sorry think just me doing something wrong

[2019-12-18 05:04] #112 closed

[2019-12-18 05:16] VeNoMouS commented on #112
Try the example i posted and let me know the result then?

[2019-12-18 05:39] lz10081 commented on #112
It was not cloudscraper it was something wrong with the address info in the post i make to bstn return back 502 501 500 etc I fixed now. I been using cloudscraper few months now very happy how it perform thanks for the hard work :)

[2019-12-18 05:42] VeNoMouS commented on #112
np, if you do get stuck feel free to ask, im normally around, i might be busy , but i'll eventually reply, even if i might be sarcastic, but yea try to keep the topic to cloudscaper, if its sneaker bypassing , take it off github and hit me up on discord ;P

[2019-12-19 00:05] JuniorJPDJ opened #113 "[FR] Async support"
Have you thought about adding async support?
There are libraries to do async http requests eg. aiohttp which work MUCH faster than requests and allows to do parallel requests without waiting.

[2019-12-19 01:02] VeNoMouS commented on #113
it's basically impossible since requests (stable) does not currently support async

[2019-12-19 01:12] VeNoMouS commented on #113
Not saying no, like I could add it to the frame work, but just because we can... should we? lol make a case for me ;P

[2019-12-19 13:12] Fran008 opened #114 "Enable cookies message when accessing web"
I am trying to access the web http://arenavision.us from a Google Cloud machine and it says "Enable cookies" since yesterday. It worked perfect before.

It's important to say that this web allows to access from anywhere except from Google Cloud machines. In Google Cloud machines it enables the recaptcha challenge, which I was able to surpass with deathbycaptcha parameters until yesterday.

I can't

[2019-12-19 13:24] Fran008 commented on #114
It's a bit strange, because if I do "wget http://arenavision.us" from the Google Cloud machine it says: 403 Forbidden

But I have now try it with a Google Machine in Europe and it works. It's working the "wget" and it's working the Cloudscraper. Maybe arenavision.us only blocks Google Cloud machines in USA.

I have tried with another instance, too, in Asia... and it's blocked aswell.

So I think i

[2019-12-19 15:39] JuniorJPDJ commented on #113
Let's see how many times you are actually scrapping more than one site in one code ;P
Most of scrappers are scrappers of the same site but eg. more than one page in paging site or more than one url from that site.
btw: requests_html supports async and it seems to be pretty same as requests, even maintainer is the same

[2019-12-19 17:19] Fran008 commented on #114
import cloudscraper
scraper = cloudscraper.create_scraper(interpreter='nodejs')
scraper.recaptcha={  'provider': 'deathbycaptcha',  'username': 'xxx',  'password': 'yyy'}
print (scraper.get("http://arenavision.us").content)

RuntimeError: Cloudflare has a restriction on your IP (Code 1020 Detected), you are BLOCKED.

[2019-12-19 17:24] JuniorJPDJ commented on #113
Also my case is that I try to write webserver and webscrapper in one app, request to my server makes request to cf protected site and parses it. Doing it without async would block whole server and potentially raise timeout. Also performance would be veery limited and only one request in time would be allowed.

[2019-12-19 20:43] VeNoMouS commented on #114
can you test out the dev branch, as i discovered if you have openssl < 1.1.1 (for tls 1.3) and you're not sending TLS 1.3 ciphers... cloudflare returns back a 1020 block...

or you can simply
[code]

and check your SSL version for me

[2019-12-19 23:58] Fran008 commented on #114
ssl.OPENSSL_VERSION

'OpenSSL 1.1.0k  28 May 2019'

[2019-12-20 00:01] Fran008 commented on #114
I have tried the following:

1-Install the branch version

wget https://www.openssl.org/source/openssl-1.1.1a.tar.gz
tar -zxf openssl-1.1.1a.tar.gz && cd openssl-1.1.1a
./config
make
sudo mv /usr/bin/openssl ~/tmp
sudo make install
sudo ln -s /usr/local/bin/openssl /usr/bin/openssl
sudo ldconfig
export LD_LIBRARY_PATH=/usr/local/lib

Now the result is:

import ssl
ssl.OPENSSL_VERSION

'OpenSSL 1.1

[2019-12-20 00:17] Fran008 commented on #114
https://github.com/openssl/openssl/issues/5845

This upgrade does not work either.

[2019-12-20 00:36] VeNoMouS commented on #114
What is your python version?

[2019-12-20 00:37] VeNoMouS commented on #114
FWIW python does not use the binary openssl, it uses the libraries that are compiled against it

[2019-12-20 15:02] Fran008 commented on #114
My Python version is 2.7.13-2

Python3 is 3.5.3-1

[2019-12-22 14:46] Fran008 commented on #114
I have externalized Cloudscraper into a Raspberry Pi 4, and no more executable from Google Cloud machine, so it is working now. I guess at the end is a Firewall rule excludig Google Cloud from arenavision.us

Thank you for everything!

PS: I will test later in a Google Machine with OpenSSL 1.1.1

[2019-12-22 15:20] Fran008 commented on #114
It works in Google Cloud with latest version! OpenSSL 1.1.0

[2019-12-22 19:50] VeNoMouS commented on #114
Sorry I only got home late last night, glad you're up and running, so we can improve this moving forward for other users, can you please give me the *exact* version that worked for you, as you said 1.1.1a wasnt working.

[2019-12-22 21:08] Fran008 commented on #114
Python 2.7.13 (default, Sep 26 2018, 18:42:22)
[GCC 6.3.0 20170516] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'OpenSSL 1.1.0l  10 Sep 2019'

[2019-12-22 21:24] VeNoMouS commented on #114
hrrrrm...

Nothing major happened in 1.1.0 apart from bug fixes for vulns...

https://www.openssl.org/news/openssl-1.1.0-notes.html

as you can see in the bottom of

https://www.openssl.org/news/openssl-1.1.1-notes.html

when things started really happening

So... unsure why yours suddenly started working..

[2019-12-22 23:38] Fran008 commented on #114
I'll make new tests.

I have created a NEW Google Cloud machine in which I installed the new version of OpenSSL, so... it could be that the new machine would not be IP blocked. In that case it has nothing to do with the version installed, simply it's free of IP ban.

[2019-12-24 08:03] Kusuki1 opened #115 "Image download"
Hi there! first of all thanks for an amazing work. I am new to the scraping but i would like to ask you for a help.
i have 1.2.16 cloudscraper version.
python 3.7.5

My problem is that i am trying to access this url
`https://s2.lhscanlation.club/images/61ca023279611af27a4bf88a66ec9d6c/bf131704a2b6b055ce6a71356823096eIMG_102.jpg` (example)
First of all i am getting to the source of the url from thi

[2019-12-24 08:36] VeNoMouS commented on #115
You're main issue, was you're not setting the `Referer` header...

[code]

[code]

Anyway enjoy....

[2019-12-24 09:03] Fran008 opened #116 "Loop protection - We have tried to solve 3 times in a row"
I get this error:

Python 2.7.16 (default, Apr  6 2019, 01:42:57)
[GCC 8.2.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

RuntimeError: !!Loop Protection!! We have tried to solve 3 time(s) in a row.

SSL Version:

'OpenSSL 1.1.1c  28 May 2019'

[2019-12-24 09:08] Fran008 commented on #116
Same in python3:

Python 3.7.3 (default, Apr  3 2019, 05:39:12)
[GCC 8.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

RuntimeError: !!Loop Protection!! We have tried to solve 3 time(s) in a row.

SSL Version:

import ssl
ssl.OPENSSL_VERSION
'OpenSSL 1.1.1c 28 May 2019'

[2019-12-24 09:16] Fran008 commented on #116
The last error was in Raspberry Pi 4. I have tested the same in a Google Cloud machine and I get this other one:

import cloudscraper
scraper = cloudscraper.create_scraper(interpreter='nodejs')
scraper.recaptcha={ 'provider': 'deathbycaptcha', 'username': 'xxx', 'password': 'yyy'}
contenido=scraper.get("http://arenavision.us/p81/cloud/servers/362ws/saz/xz/d3/2/few/ef/23/2e/wdc/df/events-guide").co

[2019-12-24 09:19] Fran008 commented on #116
Sorry, I have installed cloudscraper in Google Cloud machine, including all dependencies nodejs, and then... same error in Google Cloud:

RuntimeError: !!Loop Protection!! We have tried to solve 3 time(s) in a row.

[2019-12-24 09:24] Fran008 commented on #116
Just one consideration: this page is not permanent, so probably in one hour or two it will be UAM free

[2019-12-24 09:41] Fran008 commented on #116
SOLVED!!

I was directing to http:// and the real web was https://

Just a "s" in https... so important sometimes.

Thank you for your attention!

[2019-12-24 09:47] Fran008 commented on #116
Anyway... the page in http:// keeps serving the same error message. I have passed the problem because in https:// there is no UAM. So I don't know if the problem is relevant or it is not, in http://

[2019-12-24 10:37] Fran008 commented on #116
The web was http until today. Now it seems to have gone https and all my programs suddenly have started to fail. It was the reason.

But If I try to access the web the old way -- i.e. http -- then it fails with the mentioned error. Thanks for averything!

[2019-12-24 10:37] #116 closed

[2019-12-24 10:37] #114 closed

[2019-12-24 13:12] Fran008 commented on #114
For some reason, it works now accessing to https instead of http, even with the older versions of OpenSSL

[2019-12-24 20:08] #115 closed

[2019-12-24 21:31] Kusuki1 commented on #115
thank you so much! and for nice present from you! happy holidays to you as well!!!!

[2019-12-24 22:06] rodrigo-apoc opened #117 "RuntimeError: Cloudflare reCaptcha detected"
Hi mate, I'm with the same issue of #85

[code]

it returns
`RuntimeError: Cloudflare reCaptcha detected, unfortunately you haven't loaded an anti reCaptcha provider correctly via the 'recaptcha' parameter.`

Debug:
[debug.txt](https://github.com/VeNoMouS/cloudscraper/files/3999109/debug.txt)

Any ideia of how to solve this?

[2019-12-25 00:15] VeNoMouS commented on #117
![image](https://user-images.githubusercontent.com/597545/71427050-6c6cf600-2718-11ea-9851-90f90cc6ca5c.png)

@rodrigo-apoc , it's Christmas day for me at the moment, but I've pushed something out into the dev branch that should help you..

3db00bb3fbbe26f5b75eac3460328ca7ede8d166

Let me know how you go

[2019-12-25 00:15] VeNoMouS commented on #116
[code]

[2019-12-25 02:09] rodrigo-apoc commented on #117
Thank you for your time and also sorry.
So, I just replaced the whole content of __init__.py to the new one you commited.
The result was a new error of OpenSSL version.
I googled and tried some things then I realized that I should update my python (was using 3.7.5).
So I did it and install the cloudscraper of the master branch and now it's working fine. Not even needed to replace de init.py conten

[2019-12-25 02:11] rodrigo-apoc commented on #117
also Merry Christmas my friend <3

[2019-12-25 02:58] VeNoMouS commented on #117
3.7.5 should be new enough... i use 3.7.3 ;P

[2019-12-25 03:08] VeNoMouS commented on #117
FWIW, I actually had 3.7.5 installed on windows as well.. I tested it, while there was an issue where it was looping with solving the challenge with the problem with http -> https , i didnt get an SSL too old issue...

Anyway if I were you I would still use the dev branch `1.2.17` as this does address the protocol scheme switching issue.

[2019-12-25 05:02] #117 closed

[2019-12-26 03:38] cxs1427 opened #118 "RuntimeError: Sorry but the OpenSSL being used by this python install..."
RuntimeError: Sorry but the OpenSSL being used by this python install (OpenSSL 1.1.0j  20 Nov 2018) does not meet the minimum version (>= OpenSSL 1.1.1) in order to support TLS 1.3 required by Cloudflare.
Please tell me how to handle this problem?

[2019-12-26 04:11] VeNoMouS commented on #118
If on windows/macosx upgrade your python as OpenSSL packaged with... if linux, upgrade your OpenSSL

[2019-12-26 04:21] VeNoMouS commented on #118
I just double checked the latest 2.7.17 and that is shipped with OpenSSL 1.0.2s, I will have to remove that sanity check and replace it with a warning

[2019-12-26 04:28] VeNoMouS commented on #118
@cxs1427 I've just pushed a fix in the dev branch under version `1.2.19` that should help you out, however... if you experience an increase in reCaptcha or Challenge looping, I will not provide any support.

[2019-12-26 05:15] cxs1427 commented on #118
@VeNoMouS thanks for your reply, i notice the newest version is 1.2.18 , where to find the 1.2.19?

[2019-12-26 05:48] cxs1427 commented on #118
ok, i've upgrade my python to the newest version and solve the problem,thank for your suggestions again !

[2019-12-26 06:15] VeNoMouS commented on #118
1.2.19 is under the dev branch here on github... https://github.com/VeNoMouS/cloudscraper/tree/dev , to clone this you would do

For example, if using git cli...

[code]

or

![image](https://user-images.githubusercontent.com/597545/71461242-06659900-2814-11ea-8eda-e08a2c5eed65.png)

then you would install via...

```python setup.py install```

Out of curiosity, what OS and python version were you

[2019-12-27 03:21] cxs1427 commented on #118
win10 and python 3.7.2,
ok,i've found the 1.2.19 and upgrade it,
thanks for your job, the cloudscraper is awesome , it helps me a lot

[2019-12-27 20:28] VeNoMouS commented on #118
Thanks man :)

[2019-12-27 20:28] #118 closed

[2019-12-28 12:50] Riazable opened #119 "MSCheck"
Hey bro! You might wanna have a look at this. I'm using cloudscraper on this specific website and it looks like they have something in place which cloudscraper can't get by.

``
headers = {
    'authority': 'www.consortium.co.uk',
    'scheme': 'https',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
    'accep

[2019-12-28 12:50] Riazable opened #120 "MSCheck"
Hey bro! You might wanna have a look at this. I'm using cloudscraper on this specific website and it looks like they have something in place which cloudscraper can't get by.

[code]
[code]

Please try and give this a go and see how it goes. Thanks bro!

[2019-12-28 12:52] Riazable commented on #120
Yes, they do have cloudfare enabled on their site.

[2019-12-28 12:52] #119 closed

[2019-12-28 23:40] VeNoMouS commented on #120
[code]

^^ that is not a Cloudflare IUAM challenge...  it's from nginx's testcookie module...

That is a really shitty attempt to throttle client connections... all that is doing is forcing you to decrypt the challenge all the time, you can reverse engineer that pretty easily...

[2019-12-29 00:37] VeNoMouS commented on #120
From what I can see there is two lots of "decryption" , as they using CBC (cipher block chaining) you have to do, im just attempting to reverse their secret atm

[2019-12-29 06:52] VeNoMouS commented on #120
FWIW, i haven't worked out their secret but solving the challenge is extremely simple..

lets take this for example..

[code]
Cookie: __cfduid=de3e621d60c24a7df419915520beabddc1577576573; MSCheck=bc883d69523a72ce6fd86bf050081d49
[code]

![image](https://user-images.githubusercontent.com/597545/71553251-25ad3200-2a71-11ea-9f1e-8f1d1aa8d20c.png)

I've written that in long for so you can understand w

[2019-12-29 22:34] VeNoMouS commented on #120
Yuuppp...... you're welcome..

[2019-12-29 22:34] #120 closed

[2019-12-30 21:48] Riazable commented on #120
Wow bro! perfect :) one more question, is sending a post request any different to this?

[2020-01-08 00:02] miigotu opened #121 "Brotli"
Honestly, I'm not sure if I need brotli support enabled? If I do, is there any possibility to include a pure python version such as https://github.com/pothos/brotlipython or other? Linked brotli version is platform and architecturally dependant

[2020-01-08 00:20] VeNoMouS commented on #121
You can disable it via param, `allow_brotli` set to `False`...

However... that said.. i noticed I've included in the `requirements` file , I can amend that...

Setting the `allow_brotli` to `False` will remove `br` from the header `Accept-Encoding` when it sets up the user-agent, which the remote web server should honor...

Should `Brotli` content be returned https://github.com/VeNoMouS/cloudscra

[2020-01-08 00:29] #121 closed

[2020-01-08 00:31] miigotu commented on #121
It might come down to me including yours and the other package and allowing either the user to select which one to use with each site, or automatically trying the other as a fallback. Cloudflare changes so fast it has to drive you insane.

[2020-01-08 00:34] VeNoMouS commented on #121
LOL, yea them changing stuff is slightly annoying, but I normally fix it within a couple hours... I think though we have ironed out alot of the bugs, and we haven't needed to really change stuff much lately... the last major change was Cloudflare changing their IUAM challenge which I resolved pretty much straight away and for good measure I added in a new native python challenge solver (which is n

[2020-01-08 00:37] miigotu commented on #121
Yeah I'm actually happy this is here, and it should work for what I need. cfscrape hasn't been updated in months, and there is a pr open that fixes the challenge but nada yet. I applied the patch to my source for now, but might change it up soon. keep doing what you do.

[2020-01-08 00:41] VeNoMouS commented on #121
I saw that PR...

![image](https://user-images.githubusercontent.com/597545/71940781-7f092400-321c-11ea-8c02-08c046f989d2.png)

That PR is horrible... to put it blunt, I can't see him accepting it into production

[2020-01-08 00:53] VeNoMouS commented on #121
@miigotu brotli has been removed from requirements on the dev branch

[2020-01-08 01:14] miigotu commented on #121
I'll see about switching after i get my tvdb3 changes into master and deal with any new issues it causes (57k lines changed x.X)

[2020-01-08 20:09] Fran008 commented on #114
JFYI it works with older versions of OpenSSL but only if there is not recaptcha challenge. It seems that in that case it needs the new OpenSSL.

Anyway, I have upgraded all the system in my "production" environment and it works perfect. I only have the old version in some tests machines.

[2020-01-08 22:32] VeNoMouS commented on #114
https://github.com/VeNoMouS/cloudscraper/blob/dev/cloudscraper/__init__.py#L590-L597

[2020-01-08 23:47] Fran008 commented on #114
Thank you for the info. Depending on the access, if I am sure it works well in that page, I may need to deactivate that restriction sometimes.

[2020-01-09 00:46] VeNoMouS commented on #114
I changed the dev branch to a print, the current production raises an exception

[2020-01-09 05:56] fake-name opened #123 "Is there any way to hook the isRecaptchaChallenge function so I can do proxy setup only if needed?"
Basically, I have code that will [automatically stand up a SOCKS5 proxy if needed](https://github.com/fake-name/WebRequest/blob/master/WebRequest/Captcha/SocksProxy.py). Right now, I use it for my own code, but frankly this project is maintained by someone other then me, and it's codebase is probably better then anything I'd write anyways.

Basically, I probe a website, and if I have to, start the

[2020-01-09 10:55] Fran008 commented on #114
So that's why it is working in my older machines: I have installed the dev branch in them, with older OpenSSL too. In that machines, it works well when there is UAM but it fails when there is reCaptcha.

Nevertheless, it is not important, because one day I will update all the system in that machines too, with production Cloudscraper and newer OpenSSL. Thank you!

[2020-01-10 22:33] rix1337 opened #124 "9kw.eu recaptcha Support"
Please support 9kw.eu in this project.

The service is capable of reliably solving recaptcha and I have an active account there.
Would be extremely convenient to use it for scraping.

More info: https://www.9kw.eu/

Let me know if I can help implementing this !

[2020-01-11 21:32] VeNoMouS commented on #124
Yea I can add it... if i can decipher their API documentation... (IT SUCKS!!)

![image](https://user-images.githubusercontent.com/597545/72210878-c34f3980-3526-11ea-9d31-0b2c18fc00b9.png)

[2020-01-12 00:39] rix1337 commented on #124
+1 for the meme

Thank you. Their support appeared responsive to me, might help to shoot them a mail!

[2020-01-13 02:18] VeNoMouS commented on #124
FWIW.... I managed to work out their API..

JESUS the documentation is a pile of fucking shit... that's 2 hours of my life I'm never getting back...

![image](https://user-images.githubusercontent.com/597545/72230053-fa514800-3617-11ea-89a7-a2e4ea9af817.png)

[2020-01-15 10:33] Mr-H-uk opened #125 "RuntimeError: Cloudflare has blocked this request (Code 1020 Detected)"
Has Cloudflare made some changes in the past hours?

all my scripts using cloudscraper were working fine until today,

error: Cloudflare has blocked this request (Code 1020 Detected)

cheers!

[2020-01-15 10:36] rix1337 commented on #124
Sounds awesome.

[2020-01-15 12:55] C0rn3j commented on #125
Also getting told off by CF since today.

[code]

[2020-01-15 21:01] whoisoscar commented on #125
+1, seems like CF has made some changes "RuntimeError: Cloudflare has blocked this request (Code 1020 Detected)."
thanks for your time!

[2020-01-15 22:04] VeNoMouS commented on #125
Hrm... let me have a look..

[2020-01-15 22:05] VeNoMouS commented on #125
Have you guys got exames of sites.... python versions... OS's..... any debugs?

[2020-01-15 22:08] C0rn3j commented on #125
Python 3.8.1 on Arch Linux for https://www.curseforge.com/wow/addons

[2020-01-15 22:16] VeNoMouS commented on #125
I've also spotted an issue around `nakedcph`... that appears to be a cipher issue , rather than generating the forced reCaptcha... its generating `1020`

[2020-01-15 22:43] VeNoMouS commented on #125
FWIW
[code]

[2020-01-15 23:25] egonny commented on #125
For those wanting to fix this issue in a pinch, the custom UA cipher suite works correctly.

[2020-01-15 23:58] VeNoMouS commented on #125
1.2.20 released

[2020-01-16 00:25] C0rn3j commented on #125
It does here, thanks for a fast fix!

[2020-01-16 00:44] VeNoMouS commented on #125
Thanks for the update.

[2020-01-16 00:47] VeNoMouS commented on #125
@Mr-H-uk if you're happy, can you close off the ticket please?

Cheers
:)

![image](https://user-images.githubusercontent.com/597545/72483684-bef88880-3866-11ea-9ce0-17675d9d7df6.png)

[2020-01-16 08:30] #125 closed

[2020-01-20 02:57] VeNoMouS commented on #124
@rix1337 sorry been busy with... life ... lately..

i've implemented the request in dev branch for you, have a test / play and let me know if anything is missing.

[2020-01-20 09:21] VeNoMouS commented on #123
WIP:

* Custom Exceptions have been placed for reCaptcha

[2020-01-21 08:51] fake-name commented on #123
Neat!

[2020-01-21 09:07] #124 closed

[2020-01-21 10:34] rix1337 commented on #124
Will do asap. Life's the same for me. Thanks for implementing this.

[2020-01-22 05:26] fake-name opened #126 "Passing a proxy in `recaptcha_params` gets clobbered by base proxies, wouldn't work anyways."
I'm using a local proxy to route recaptcha solves through the localhost. As such, I am *not* passing a proxy to cloudscraper by default (as it'll access from the local machine anyways). However, I do need to pass a proxy through to the captcha solving service (so their requests will get forwarded to the local machine, which is running a proxy).

However, right now, if you have a `proxies` paramete

[2020-01-22 05:40] fake-name commented on #126
Effectively, there are kind of two proxies for captcha solving.

 - There's the case where you want to route everything through a proxy, your requests included.
 - There's the case where you want to make the requests for the captcha solving service appear to come from the local machine.

(You could also want to do both: route all requests through a proxy, *including* the requests from the captcha

[2020-01-23 02:30] WhatBest opened #127 "Unfortunately you haven't loaded an anti reCaptcha provider correctly?"
Hello.
The request always return this error
[code]

despite I already defined recaptcha resolver

[code]

Please help, thank you and have a nice day.
(I already censor the apikey and website name)

[2020-01-23 02:57] VeNoMouS commented on #127
get_cookie_string calls get_cookies() which creates its own scraper https://github.com/VeNoMouS/cloudscraper/blob/master/cloudscraper/__init__.py#L538

The following should suit your needs...

[code]

[2020-01-23 21:23] WhatBest commented on #127
It works, thank you!

[2020-01-23 21:23] #127 closed

[2020-01-23 21:45] VeNoMouS commented on #127
np , glad you're sorted :)

enjoy your day mate :)

[2020-01-25 14:05] para-dise opened #128 "CloudScraper Hangs"
Hey, I've been having an issue with CloudScraper hanging without ever returning a response.

Test code:
[code]

It seems to be stuck between request & sendChallengeResponse - therefore I believe CloudFlare might have updated their page once again.

Some traceback: [https://ghostbin.co/paste/phhyq](https://ghostbin.co/paste/phhyq)

[2020-01-25 19:33] Fran008 commented on #128
Same here

[2020-01-25 19:34] VeNoMouS commented on #128
Let me have a look

[2020-01-25 19:36] VeNoMouS commented on #128
Hrm... are you guys running latest version 1.1.20?

Because it worked straight away for me....

[2020-01-25 19:40] VeNoMouS commented on #128
LOL `cloudscraper-1.1.5`... your using TOOOOO old version!!! upgrade

![image](https://user-images.githubusercontent.com/597545/73126453-8fd8d880-4017-11ea-8130-d6713d016b00.png)

[2020-01-25 20:44] para-dise commented on #128
Whoops the old version always worked for me, rip.

Well, seems like it works after updating.

[2020-01-25 20:44] #128 closed

[2020-01-25 20:45] VeNoMouS commented on #128
All good, Cloudflare updated their challenge in December just before christmas..